<?php use app\models\Account; ?>

<div class="acc-pane col-sm-6 col-lg-4" data-account-container="{{id}}" style = "display: {{#if show}}block{{else}}none{{/if}};">
    <!-- User info -->
    <figure class="acc-img-set">
        <figcaption>
            <b>
                {{#if demo}}
                    {{login}}
                {{else}}
                    <a class="account-login" href="//instagram.com/{{login}}/" title="@{{login}}" target="_blank" style="word-wrap: break-word;">
                        @{{login}}
                    </a>
                {{/if}}
            </b>

            <span>
                <?= Yii::t('views', 'You have') ?> <span style="display: inline" id="account_media_{{id}}">{{photos}}</span>
                <?= Yii::t('views', 'photos') ?>

                <a class="helper" href="#" data-toggle="popover" data-title="<?=Yii::t('views', 'Photo')?>" data-content="<?=Yii::t('views', "Number of account&#39;s photos")?>">
                    <i class="fa fa-question-circle"></i>
                </a>

                <span class="clearfix"></span>
                <!-- Class name "disabled" makes a button gray -->
                {{#if demo}}
                    <a class="btnew btn btn-gray col-sm-12 btn-comment hidden-xs" data-toggle = 'modal' data-target = '#addAccount' href="#" style="width: 260px;">
                        <?=Yii::t('views', 'Comment')?>
                    </a>
                {{else}}
                    <a class="btnew btn btn-gray col-sm-12 btn-comment hidden-xs" href="/content/index/{{id}}" style="width: 260px;">
                        <?=Yii::t('views', 'Comment')?>
                    </a>
                {{/if}}
            </span>
        </figcaption>

        <img class="acc-ava" src="{{avatar}}" alt="Your photo">

        <a class="acc-forgot-pass changeAccountAction" {{#if demo}}data-toggle = 'modal' data-target = '#addAccount'{{/if}} href="/site/#" data-id="{{id}}">
            <?=Yii::t('views', 'Change password')?>
        </a>

        <span class="new-comments hidden-xs">
             {{#if demo}}
                 <?=Yii::t('views', 'New comments: {count}', ['count' => ''])?>{{newComments}}
             {{else}}
                 <a id="newcomments_{{id}}" href="/content/index/{{id}}"><?=Yii::t('views', 'New comments: {count}', ['count' => ''])?>{{newComments}}</a>
                 <a href="javascript:void(0);" data-toggle="popover" data-title="<?= Yii::t('views', 'Clear')?>" data-content="<?= Yii::t('views', 'Clear number of new comments') ?>" class="helper clear-comments">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
             {{/if}}
        </span>
    </figure>
    <!-- User info end -->

    <!-- Subscribe info  -->
    <dl class="acc-subscr-set">
        <!-- Followers -->
        <dt>
            <i class="fa fa-users"></i>
            <?=Yii::t('views', 'Followers')?>
        </dt>
        <dd id="account_followers_{{id}}">{{info.followers}}</dd>

        <!-- New followers -->
        <dt class="red-inner">
            <i class="fa fa-user"></i>
            <?=Yii::t('views', 'New followers')?>
        </dt>
        <dd class="red-inner">+<span style="display: inline" id="lastfollowers_{{id}}">{{info.newFollowers}}</span></dd>

        <!-- Followings -->
        <dt>
            <i class="fa fa-user-plus"></i>
            <?=Yii::t('views', 'Followings')?>
        </dt>
        <dd id="account_follows_{{id}}">{{info.followings}}</dd>
    </dl>
    <!-- Subscribe info  -->

    <!-- Toggle settings -->
    <dl class="acc-tog-set">
        <toggle-option
                {option} = {'likes'}
                {icon} = {'heart'}
                {counter} = 'counters.likes'
                {message} = 'errors.likes'
                {disabled} = 'disabledOptions.likes'
                {active} = 'likesOption'><?=Yii::t('views', 'Likes')?></toggle-option>


        <toggle-option
                {option} = {'comments'}
                {icon} = {'comment'}
                {counter} = 'counters.comments'
                {message} = 'errors.comments'
                {disabled} = 'disabledOptions.comments'
                {active} = 'commentsOption'><?=Yii::t('views', 'Comments')?></toggle-option>


        <toggle-option
                {option} = {'follows'}
                {icon} = {'check'}
                {counter} = 'counters.follows'
                {message} = 'errors.follows'
                {disabled} = 'disabledOptions.follows'
                {active} = 'followsOption'><?=Yii::t('views', 'Follows')?></toggle-option>


        <toggle-option
                {option} = {'unfollows'}
                {icon} = {'times'}
                {counter} = 'counters.unfollows'
                {message} = 'errors.unfollows'
                {disabled} = 'disabledOptions.unfollows'
                {active} = 'unfollowsOption'><?=Yii::t('views', 'Unfollows')?></toggle-option>

        <dt class="acc-tog-set-reset">
            <a href="#" data-id="{{id}}" class="acc-timer-reset resetAction"><?= Yii::t('views', 'Reset activity counter') ?></a>
        </dt>
    </dl>
    <!-- Toggle settings -->

    <!-- Action settings  -->
    <div class="acc-act-set">
        <figure class="hidden-xs">
            <i class="fa fa-toggle-on hidden-xs"></i>
            <a class="helper hidden-xs" href="#" data-toggle="popover" data-title="<?=Yii::t('views', 'Actions')?>" data-content="<?= Yii::t('views', 'Here you can start or stop work with project') ?>" data-original-title="" title=""><i class="fa fa-question-circle"></i></a>
            <figcaption class="hidden-xs"><?=Yii::t('views', 'Actions')?></figcaption>

            {{#if demo}}
                <!-- Конка стоп -->
                <a class="btn btn-success col-md-12 col-sm-12 col-xs-12 projectStart" href="#" data-toggle = 'modal' data-target = '#addAccount'>
                    <?= Yii::t('views', 'Start') ?>
                </a>
            {{else}}

                {{#if isActive}}
                    <!-- Конка стоп -->
                    <a class="btn btn-danger col-md-12 col-sm-12 col-xs-12 projectStop {{#if disabled}}disabled{{/if}}" data-account="{{id}}" id="stop_{{id}}">
                        <?= Yii::t('views', 'Stop') ?>
                    </a>
                {{else}}
                    <!-- Конка старт -->
                    <a class="btn btn-success col-md-12 col-sm-12 col-xs-12 projectStart {{#if disabled}}disabled{{/if}}" data-account="{{id}}" data-login="{{login}}" id="start_{{id}}">
                        <span data-toggle="popover" data-title="<?=Yii::t('views', 'Project stopped')?>" data-content="{{errors.common}}" class="read-message glyphicon glyphicon-info-sign" {{#if errors.common}}style = "display: block;"{{/if}}></span>

                        <?= Yii::t('views', 'Start') ?>
                    </a>
                {{/if}}

            {{/if}}
        </figure>

        <figure>
            <i class="fa fa-tachometer hidden-xs"></i>
            <a class="helper hidden-xs" href="#" data-toggle="popover" data-title="<?= Yii::t('views', 'Speed of work')?>" data-content="<?= Yii::t('views', 'Service work speed. We are highly recommending to choose Slow speed for first days and to increase speed with time') ?>" data-original-title="" title="">
                <i class="fa fa-question-circle"></i>
            </a>
            <figcaption class="hidden-xs"><?= Yii::t('views', 'speed of work') ?></figcaption>
            <figcaption class="text-center col-xs-12 mb5 visible-xs"><?= Yii::t('views', 'Speed') ?></figcaption>

            <dropdown-list {items} = {speed_items} {selected} = {getSpeedItem()} />
        </figure>


        <figure class="{{#if hideTimer}}hide{{/if}}">
            <i class="fa fa-clock-o hidden-xs"></i>
            <a class="helper hidden-xs" href="#" data-toggle="popover" data-title="<?= Yii::t('views', 'Timer of days') ?>" data-content="<?= Yii::t('views', 'Time is counting down only when your activity is started. When time ends, work will be stopped') ?>" data-original-title="" title=""><i class="fa fa-question-circle"></i></a>
            <figcaption class="hidden-xs"><?= Yii::t('views', 'Timer of days') ?></figcaption>
            <figcaption class="text-center col-xs-12 mb5 visible-xs">
                <span class="desk"><?= Yii::t('views', 'Timer') ?></span>
                <span class="mob"><?= Yii::t('views', 'Stop after') ?></span>
            </figcaption>

            <div class="btn-group" style="display: none;" id="timerButtonDisabled_{{id}}" data-toggle="popover" data-original-title="" data-title="<?= Yii::t('views', 'Unavailable') ?>" data-content="<?= Yii::t('views', 'You must stop works in account to change timer') ?>">
                <a class="col-md-12 col-sm-12 col-xs-12 btn btn-default btn-white dropdown-toggle disabled timerButtonDisabled text-center">
                    <i class="dd fa fa-angle-down"></i>
                </a>
            </div>
            <div class="btn-group" id="timerButton_{{id}}">
                <a class="col-md-12 col-sm-12 col-xs-12 btn btn-default btn-white dropdown-toggle timerButton" data-toggle="dropdown">
	                {{timerText}}
                    <i class="dd fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu timer-dropdown" role="menu">
	                <?php foreach (Account::getTimerValues() as $value => $timer): ?>
	                <li><a data-value="<?= $value ?>" data-id="{{id}}" href="javascript:void"
	                       class="setTimer"><?= $timer ?></a></li>
	                <?php endforeach; ?>
                </ul>
            </div>
        </figure>

        <div class="visible-xs"></div>

        <figure>
            <i class="fa fa fa-cogs hidden-xs"></i>
            <a class="helper hidden-xs" href="#" data-toggle="popover" data-title="<?= Yii::t('views', 'Settings') ?>" data-content="<?= Yii::t('views', 'Here you can go to the settings and change action&#39;s configuration, locations, comments and other settings') ?>" data-original-title="" title="">
                <i class="fa fa-question-circle"></i>
            </a>

            <figcaption class="hidden-xs"><?=Yii::t('views', 'Settings')?></figcaption>
            {{#if demo}}
                <a class="btn btn-default btn-gray col-md-12 col-sm-12 col-xs-12 optionsButton" href="#" data-toggle = 'modal' data-target = '#addAccount'>
                    <?=Yii::t('views', 'Settings')?>
                </a>
            {{else}}
                <a id="optionsButton_{{id}}" class="btn btn-default btn-gray col-md-12 col-sm-12 col-xs-12 optionsButton" href="/options/index/{{id}}">
                    <?=Yii::t('views', 'Settings')?>
                </a>
            {{/if}}

        </figure>
        <div class="clearfix visible-xs"></div>

        <figure class="wide-button visible-xs">
            <i class="fa fa-toggle-on hidden-xs"></i>
            <a class="helper hidden-xs" href="#" data-toggle="popover" data-title="<?= Yii::t('views', 'Actions') ?>" data-content="<?= Yii::t('views', 'Here you can start or stop work with project') ?>" data-original-title="" title=""><i class="fa fa-question-circle"></i></a>
            <figcaption class="hidden-xs"><?=Yii::t('views', 'Actions')?></figcaption>

            {{#if demo}}
                <a class="btn btn-success col-md-12 col-sm-12 col-xs-12 projectStart {{#if disabled}}disabled{{/if}} optionsButton" href="#" data-toggle = 'modal' data-target = '#addAccount'>
                    <span data-toggle="popover" data-title="<?=Yii::t('views', 'Project stopped')?>" data-content="{{errors.common}}" class="read-message glyphicon glyphicon-info-sign" {{#if errors.common}}style = "display: block;"{{/if}}></span>

                    <?= Yii::t('views', 'Start') ?>
                </a>
            {{else}}
                {{#if isActive}}
                    <!-- Конка стоп -->
                    <a class="btn btn-danger col-md-12 col-sm-12 col-xs-12 projectStop {{#if disabled}}disabled{{/if}} optionsButton" data-account="{{id}}" id="stop_{{id}}">
                        <?= Yii::t('views', 'Stop') ?>
                    </a>
                {{else}}
                    <!-- Конка старт -->
                    <a class="btn btn-success col-md-12 col-sm-12 col-xs-12 projectStart {{#if disabled}}disabled{{/if}} optionsButton" data-account="{{id}}" data-login="{{login}}" id="start_{{id}}">
                        <span data-toggle="popover" data-title="<?=Yii::t('views', 'Project stopped')?>" data-content="{{errors.common}}" class="read-message glyphicon glyphicon-info-sign" {{#if errors.common}}style = "display: block;"{{/if}}></span>

                        <?= Yii::t('views', 'Start') ?>
                    </a>
                {{/if}}
            {{/if}}
        </figure>
    </div>

    <!-- Action settings -->
    <div class="clearfix"></div>
</div>