@font-face {
  font-family: "HelveticaNeueCyr-Light";
  font-weight: normal;
  src: url('HelveticaNeueCyr-Light.otf');
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  font-weight: normal;
  src: url('HelveticaNeueCyr-Medium.otf');
}

@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  font-weight: normal;
  src: url('HelveticaNeueCyr-Bold.otf');
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  font-weight: normal;
  src: url('HelveticaNeueCyr-Roman.otf');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot?v=4.3.0');
  src: url('fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('fontawesome-webfont.woff?v=4.3.0') format('woff'), url('fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

