<h2>Партнёрский Договор-Оферта с Участником Партнёрской Сети - Вебмастером</h2>

<p>
    Настоящий Партнёрский Договор-Оферта с Пользователем Программного Обеспечения – Вебмастером (далее «Договор-Оферта»)
    заключается между сайтом Zengram.ru (далее «Zengram») и лицом, принявшим условия настоящего публичного
    Договора-Оферты (далее «Вебмастер»). Пожалуйста, внимательно изучите текст настоящего Договора-Оферты. Принятие
    настоящего Договора-Оферты путём активации чекбокса «С условиями Договора-Оферты ознакомлен и согласен» ниже
    означает полное согласие Вебмастера с условиями настоящего Договора-Оферты. Для целей настоящего Договора-Оферты
    Вебмастер и Zengram далее совместно именуются «Стороны».
</p>
<strong>
    ПРЕАМБУЛА
</strong>
<p>Вебмастер желает присоединиться в качестве участника к Партнёрской сети Zengram и получить права использования
    Программного Обеспечения;</p>
<p>Zengram желает предоставить Вебмастеру статус участника Партнёрской сети, а также права использования Программного
    Обеспечения, как оно определено в настоящем Договоре и на условиях настоящего Договора.</p>
<h3>С УЧЁТОМ ВЫШЕИЗЛОЖЕННОГО Стороны договорились о нижеследующем:</h3>
<strong>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ:</strong>
<p>
    1.1 Настоящим Стороны соглашаются, что все термины и определения, используемые в настоящем Договоре, имеют следующее
    значение:<br>
    1.1.1. Вебмастер - дееспособное физическое лицо в возрасте от 18 лет, принявшее условия настоящего Договора-Оферты,
    заинтересованное в размещении информации о Zengram на собственном веб-сайте или на других доступных ему веб-сайтах
    установленным Договором образом и способами.<br>
    1.1.2. Аутентификационные данные Вебмастера - логин (имя доступа) и пароль (код доступа), которые в совокупности
    Стороны признают для целей настоящего Договора аналогом собственноручной подписи Вебмастера. Аутентификационные
    данные Вебмастер выбирает самостоятельно и сообщает их Zengram в момент прохождения процедуры регистрации с помощью
    Программного Обеспечения Zengram. Вебмастер самостоятельно обеспечивает сохранность своих Аутентификационных данных.<br>
    1.1.3. Реферал — Клиент Zengram, обратившийся на сайт Zengram по ссылке размещенной Вебмастером на собственном
    веб-сайте или на других доступных ему веб-сайтах установленным Договором образом и способами.<br>
    1.1.4. Биллинговая система Zengram– специализированный программный комплекс Zengram, фиксирующий количество
    рефералов Вебмастера, расчёты по Договору между Вебмастером и Zengram.<br>
    1.1.5. Лицевой счет Вебмастера – учетная запись Вебмастера в Личном кабинете, отражающая данные Биллинговой системы
    о количестве заказов по реферальным ссылкам Вебместера, об истории движения платежей и о движении платежей по
    настоящему Договору, расчётах между Вебмастером и Zengram.<br>
    1.1.6. Личный кабинет Вебмастера – персонализированный Модуль Программного Обеспечения Zengram, закрытый для
    всеобщего доступа. Доступ в Личный кабинет осуществляется Вебмастером путем ввода Аутентификационных данных: логина
    (имени доступа) и пароля (кода доступа).<br>
    1.1.7. Партнёрская сеть Zengram – партнёрская сеть, состоящая из партнёров Zengram – вебмастеров, участником которой
    Вебмастер становится при принятии условий настоящего Договора-Оферты.
</p>
<strong>2. ПРЕДМЕТ ДОГОВОРА-ОФЕРТЫ. ПОРЯДОК ВСТУПЛЕНИЯ ДОГОВОРА В СИЛУ</strong>
<p>
    2.1. Настоящим Вебмастер, принимая условия настоящего Договора-Оферты, становится участником Партнёрской сети
    Zengram.<br>
    2.2. Принятием условий (акцептом) настоящего Договора-Оферты и автоматическим присоединением к нему являются
    ознакомление Вебмастера с условиями настоящего Договора-Оферты и принятие его условий в установленном Договором
    порядке. Стороны признают, что достаточным доказательством факта совершения Вебмастером действий по ознакомлению с
    настоящим Договором и принятию его условий является активация Вебмастером чекбокса «С условиями Договора ознакомлен
    и согласен», размещенного непосредственно ниже настоящего Договора-Оферты.<br>
    2.3. Стороны признают данные автоматизированной электронной системы учета Zengram, являющейся составной частью
    Биллинговой системы Zengram., достаточными и достоверными для подтверждения взаиморасчётов Zengram и Вебмастера по
    настоящему Договору.
</p>

<strong>3. ПРАВА, ПРЕДОСТАВЛЯЕМЫЕ ВЕБМАСТЕРУ</strong>
<p>
    3.1. Настоящим Zengram предоставляет Вебмастеру на весь срок действия настоящего Договора неисключительную,
    действующую на территории всех стран мира, безвозмездную, ограниченную, неисключительную лицензию (без права
    предоставления сублицензий и без права уступки и передачи третьим лицам) на использование Программного Обеспечения в
    соответствии с функциональным назначением Программного Обеспечения, следующими способами:<br>
    3.1.1. осуществления удалённого доступа к Программному Обеспечению Zengram, в том числе, посредством сети
    Интернет;<br>
    3.1.2. поддержания связи с Zengram посредством Личного кабинета;<br>
</p>

<strong>4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</strong>
<p>
    4.1. Права Вебмастера:<br>
    4.1.1. Получать от Zengram выписки из данных Биллинговой системы Zengram.<br>
    4.1.2. Пользоваться иными правами, предусмотренными действующим законодательством РФ и настоящим Договором.<br>
    4.1.3. Пользоваться рекламными материалами предоставленными Zengram в личном кабинете Вебмастера.<br>
    4.2. Обязанности Вебмастера:<br>
    4.2.1. Сохранять конфиденциальность сведений, представляющих коммерческую тайну и ставших известными Вебмастеру в
    связи с исполнением Вебмастером настоящего Договора;<br>
    4.2.2. Самостоятельно отслеживать все возможные изменения в условиях настоящего Договора путем ознакомления с их
    содержанием с помощью Программного Обеспечения Zengram, а также в собственном Личном кабинете, являющемся составной
    частью Программного Обеспечения Zengram;<br>
    4.2.3. Не совершать никаких действий, направленных на причинение ущерба целостности и/или работоспособности
    Программного Обеспечения Zengram, в том числе действий, направленных на фальсификацию данных Биллинговой системы
    Zengram, а также любых иных действий, не разрешенных в явной форме Zengram или в явной форме не предусмотренных
    интерфейсными решениями Личного кабинета Вебмастера, включая использование вредоносного программного обеспечения,
    такого как: программы-вирусы, шпионские и троянские программы, рут-киты, программы, предназначенные для
    осуществления несанкционированного удалённого доступа к Программному Обеспечению, и любого иного вредоносного
    программного обеспечения;<br>
    4.2.4. Самостоятельно при помощи Личного кабинета отслеживать данные Биллинговой системы Zengram, в которой ведётся
    учёт по настоящему Договору, а также вознаграждения, уплачиваемого Zengram по настоящему Договору-Оферте.<br>
    4.2.5. Предоставить реквизиты электронного кошелька Webmoney для последующих расчетов с Zengram.<br>
    4.3. Права Zengram:<br>
    4.3.1. Отказать Вебмастеру в получении статуса Вебмастера в случае возникновения обоснованного подозрения в том, что
    данные, предоставленные Вебмастером на условиях настоящего Договора, не соответствуют действительности;<br>
    4.3.2. В любой момент отказаться от исполнения настоящего Договора в одностороннем порядке.<br>
    4.4. Обязанности Zengram:<br>
    4.4.1. Поддерживать работоспособность Программного Обеспечения, в том числе входящих в его состав Биллинговой
    системы и Личного кабинета Вебмастера;<br>
    4.4.2. Своевременно и в полном объёме уплачивать Вебмастеру платежи при условии соблюдения Вебмастером условий
    настоящего Договора;<br>
    4.4.3. Предоставлять Вебмастеру в режиме реального времени электронные статистические отчеты посредством
    предоставления данных в Личном кабинете Вебмастера.<br>
    4.4.4. Предоставлять Вебмастеру код реферальной ссылки, которая присваивается данному пользователю и хранится в базе
    Zengram.
</p>
<strong>5. ПОРЯДОК РАСЧЕТОВ</strong>
<p>
    5.1. Предоставляемая Вебмастеру по настоящему Договору-Оферте лицензия на использование Программного Обеспечения
    является безвозмездной.<br>
    5.2. Вебмастер получает вознаграждение на реквизиты соответствующие пункту 4.2.5 настоящего Договора.<br>
    5.3. Сумма вознаграждения Вебмастера за заказы рефералов начисляется на Лицевой счёт Вебмастера в размере 5% (Пяти
    процентов) за заказы рефералов 1-го уровня и в размере 1% (Одного процента) за заказы рефералов 2-го уровня. Суммой
    заказа при этом считается сумма оплаченная рефералом и поступившая на счет Zengram.<br>
    5.4. Получение Вебмастеров суммы менее 1000 (Одной тысячи) рублей может быть произведено только во второй
    понедельник каждого месяца. Сумма более 1000 (Одной тысячи) рублей может быть получена Вебмастером в течение 3-х
    (Трёх) рабочих дней после отправки соответствующего запроса в личном кабинете Вебмастера.<br>
    5.5. Вебмастер может вывести вознаграждение как на реквизиты указанные в пункте 4.2.5., так и на баланс в личном
    кабинете Zengram.
</p>

<strong>6. ОТВЕТСТВЕННОСТЬ CTOPOH</strong>
<p>
    6.1. За неисполнение либо за ненадлежащее исполнение принятых на себя в соответствии с настоящим Договором
    обязательств Стороны несут ответственность, предусмотренную действующим законодательством РФ и настоящим
    Договором.<br>
    6.2. Все споры и разногласия, которые возникают в ходе исполнения настоящего Договора, Стороны обязуются разрешать
    путём переговоров. В случае невозможности такого разрешения все споры и разногласия подлежат рассмотрению в судах
    РФ.<br>
    6.3. Zengram вправе удержать с Вебмастера договорную неустойку в размере 100% остатка денежных средств на Лицевом
    счёте Вебмастера в случае однократного грубого нарушения Вебмастером условий настоящего Договора.
</p>

<strong>7. ГАРАНТИИ, ЗАВЕРЕНИЯ И СОГЛАСИЯ ВЕБМАСТЕРА</strong>
<p>
    7.1. Настоящим Вебмастер заявляет и гарантирует следующее:<br>
    7.2. Вебмастер обладает всеми правами, необходимыми для заключения настоящего Договора и как на момент заключения
    настоящего Договора, так и на момент исполнения своих обязательств по Договору Вебмастер не несёт обязательств,
    аналогичных изложенным в Договоре, перед каким-либо третьим лицом;<br>
    7.3. Вебмастер никоим образом не будет пытаться вмешиваться в работу Программного Обеспечения, а также влиять на
    работоспособность Программного Обеспечения.
</p>

<strong>8. КОНФИДЕНЦИАЛЬНОСТЬ</strong>
<p>
    8.1. Стороны сохраняют конфиденциальность сведений, представляющих коммерческую тайну и ставших им известными в
    связи с исполнением настоящего Договора. Перечень сведений, являющихся конфиденциальными, Стороны определяют
    самостоятельно и предоставляют такую информацию друг другу с грифом «Конфиденциально».<br>
    8.2. Вебмастер самостоятельно несет ответственность за сохранность и безопасность собственных Аутентификационных
    данных, а также за несанкционированное их использование третьими лицами. Стороны признают все действия совершённые с
    использованем Личного кабинета, являющегося составной частью Программного Обеспечения Zengram, с указанием
    аутентификационных данных Вебмастера действиями, совершёнными лично Вебмастером. При этом Стороны соглашаются, что
    Zengram не несет ответственность в случае взлома Личного кабинета Вебмастера третьими лицами или вследствие иного
    несанкционированного получения доступа к Личному кабинету Вебмастера.
</p>

<strong>9. ОСВОБОЖДЕНИЕ ОТ ОТВЕТСТВЕННОСТИ</strong>


<p>9.1. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему
    Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения
    настоящего Договора в результате событий чрезвычайного характера, которые соответствующая Сторона не могла ни
    предвидеть, ни предотвратить разумными мерами.<br>
    9.2. К таким событиям чрезвычайного характера относятся: наводнение, пожар, землетрясение, взрыв, шторм, оседание
    почвы и иные природные катастрофы; война или военные действия, революция, национализация, террористический акт,
    противоправные действия третьих лиц, забастовка в отрасли или регионе, принятие органом государственной власти или
    управления решения, повлекшего невозможность исполнения настоящего Договора, и другие подобные обстоятельства.<br>
</p>

<strong>10. СРОК ДЕЙСТВИЯ И РАСТОРЖЕНИЕ</strong>
<p>
    10.1. Настоящий Договор может быть расторгнут по взаимному соглашению Сторон, либо в одностороннем порядке,
    установленном положениями настоящего Договора.
</p>

<strong>11. ИЗМЕНЕНИЕ И ДОПОЛНЕНИЕ ДОГОВОРА</strong>
<p>11.1. Стороны соглашаются с правом Zengram в одностороннем порядке вносить изменения в настоящий Договор при условии
    размещения текста таких изменений (текста Договора в новой редакции) на сайте Zengram по адресу: http:/Zengram.ru/
    не позднее чем за 10 (Десять) календарных дней до момента вступления в силу таких изменений и уведомления Вебмастера
    о таких изменениях. Любые изменения и дополнения к настоящему Договору являются неотъемлемой частью настоящего
    Договора с момента их вступления в силу.</p>


<strong>12. ПРОЧИЕ ПОЛОЖЕНИЯ</strong>
<p>
    12.1. Любые уведомления, разрешенные и/или необходимые по настоящему Договору, должны направляться уведомляющей
    Стороной в адрес уведомляемой Стороны путем использования Личного кабинета, являющегося составной частью
    Программного Обеспечения Zengram либо по электронной почте на адрес, указанный Стороной в своих реквизитах.<br>
    12.2. Стороны пришли к взаимному согласию, что показания статистических данных Биллинговой системы Zengram являются
    достаточными и достоверными для подтверждения фактов и данных, учет которых ведется Биллинговой системой
    Zengram.<br>
    12.3. Сообщение, отправляемое Стороной по электронной почте, направляется с адреса электронной почты, указанного в
    реквизитах Стороны-отправителя на адрес электронной почты, указанный в реквизитах Стороны-получателя по настоящему
    Договору. Ответственность за правильность указания адреса электронной почты в реквизитах настоящего Договора несет
    Сторона, указавшая такой реквизит.<br>
    12.4. В случаях, не предусмотренных настоящим Договором, Стороны руководствуются законодательством РФ.<br>
    12.5. Вступая в настоящий Договор Стороны подтверждают, что обладают всеми необходимыми полномочиями и правами для
    его исполнения.<br>
    12.6. Стороны несут полную ответственность за правильность своих реквизитов, указанных в настоящем Договоре, при
    этом Вебмастер несет полную ответственность за правильность указания, соответствие действительности и актуальность
    своих реквизитов, предоставленных Zengram в Личном кабинете Вебмастера на сайте, посредством которого осуществляется
    доступ к Программному Обеспечению Zengram. Стороны обязуются своевременно извещать другую Сторону об их изменении, а
    в случае не уведомления несут риск наступления связанных с этим неблагоприятных последствий.
</p>