<div class="input-group">
	<input type="search" placeholder="<?= Yii::t('views', 'Enter the account') ?>" class="form-control" {{#pending}}disabled{{/pending}}>
	<span class="input-group-btn">
		<button type="button" class="btn btn-success" {{#pending}}disabled{{/pending}}>
			{{#if pending}}
				<i class="fa fa-spinner fa-pulse"></i>
			{{else}}
				<span class="glyphicon glyphicon-plus" title="<?= Yii::t('app', 'Add') ?>"></span>
			{{/if}}
		</button>
	</span>
</div>
<div class="error-wrapper"><div class="error"></div></div>

<div class="clearfix divide"></div>

<div class="panel-items-list">
	{{#each items}}
		<div class="balloon balloon-float" {{data 'item'}}>
			<span class="button-holder">
				<span class="delete glyphicon glyphicon-trash" title="<?= Yii::t('app', 'Remove') ?>"></span>
			</span>
			<span class="content{{#complete}} text-muted{{/complete}}"
			      {{#complete}}title="<?= Yii::t('views', 'All followers of this account were processed') ?>"{{/complete}}>
				@{{name}}
			</span>
		</div>
	{{/each}}
</div>