<ul>
	{{#each items}}
		{{#prune_context}}
			<li {{data 'this'}}>
				{{#if items}}
					<a class="toggler{{#collapsed}} open{{/collapsed}}">
						<i class="glyphicon glyphicon-play"></i>
					</a>
				{{/if}}
				<label title="{{label}}">
					{{#if disabled}}
						<input type="checkbox" value="{{id}}" disabled>
					{{else}}
						<input type="checkbox" value="{{id}}" {{#selected}}checked{{/selected}}>
					{{/if}}
					<span>{{label}}</span>
				</label>
			</li>
			{{#if items}}
				<div class="{{#collapsed}}open{{/collapsed}}">
					{{>regions-tree-template}}
				</div>
			{{/if}}
		{{/prune_context}}
	{{/each}}
</ul>