@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
body{
	background: url('../images/bg.png');
}
#line_1{
	height: 78px;
	background-color: #3f3f3f;
	background-image: linear-gradient(to top, #244386 0%, #2c539e 100%);
	border: 1px solid #00236f;
	line-height: 74px;
}
#line_1 a{
	color: white;
	font-family: Arial;
	font-size: 18px;
	font-weight: 700;
}
#line_1 a span{
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}
#line_2 {
	margin-top: 31px;
	background-color: #c3e1ff;
	text-align: center;
	padding: 10px 0px;
}
#line_2 table{
	width: 100%;
}
#line_2 table td{
	width: 23%;
}
#line_2 table td:first-child{
	width: 30%;
}
#line_2 table p.name{
	font-family: Arial;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: black;
	margin-top: 10px;
	text-align: center;
}
#line_2 table p.name a{
	color: #184499;
	text-decoration: underline;
	font-family: Arial;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}
#line_2 table p{
	color: #184499;
	font-family: Arial;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	text-align: left;
}
#line_2 table p b{
	font-weight: 700;
}


#line_3{
	text-align: center;
	padding: 60px 0px;
}
#line_3 div {
	position: relative;
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 0px;
}
#line_3 canvas {
	display: block;
	position:absolute;
	top:0;
	left:0;
}
#line_3 span {
	display: inline-block;
	text-align: center;
	color: #184499;
	font-family: Arial;
	font-size: 3em;
	font-weight: 400;
	line-height: 220px;
	width: 220px;
	margin-right: -17px;
}

#line_3 input {
	width: 200px;
}
#line_4{}
#line_4 p.count{
	font-family: Arial;
	font-size: 18px;
	line-height: 24px;
	color: black;
	font-weight: 400;
}
#line_4 p.count b{
	color: #184499;
	font-weight: 700;
}
#line_4 .line{
	height: 39px;
	background-color: #3f3f3f;
	background-image: linear-gradient(to top, #244386 0%, #2c539e 100%);
	border: 1px solid #00236f;
	color: white;
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	line-height: 39px;
}
#line_4 .line table{
	max-width: 100%;
}
#line_4 .line table td{
	width: 30%;
	padding: 0 10px;
	border-right: 1px solid rgba(255,255,255,0.1);
}

#line_4 .line table td:last-child{
	border: none;
}
#line_4 .line table td a{
	color: white;
}
#line_4 .bg {
	margin-top: 15px;
	background-color: #ed1d33;
	background-image: linear-gradient(to top, #e3e4e5 0%, #e1e2e3 100%);
	border: 1px solid rgba(193, 193, 193, 0.72);
	border-radius: 8px;
	overflow: hidden;
}
#line_4 .bg table td{
	width: 30%;
	padding: 10px;
	color: black;
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}

#line_4 .line table tr td:first-child,
#line_4 .bg table tr td:first-child{
	width: 117px !important;
}

#line_4 .bg table td a{
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	color: #184499;
	text-decoration: underline;
}
footer{
	background-color: #3f3f3f;
	background-image: linear-gradient(to top, #244386 0%, #2c539e 100%);
	border: 1px solid #00236f;
	line-height: 67px;
	color: white;
	font-family: Arial;
	font-size: 18px;
	font-weight: 700;
	line-height: 67px;
}
.likelist{
	max-width: 920px;
}
.likelist .line1{
	padding: 20px 0px 40px;
}
.likelist .line1 img{
	margin: 0px 20px 0px 0px;
}
.likelist .line2{
	padding: 25px 0px;
	background: #efefef;
}
.likelist .line2 img{
	margin: 10px 20px;
}

/* CUSTOM */
.avatar {
	height: 110px;
	width: 100px;
	border-radius: 10px;
	border: 5px solid transparent;
}

#victim-activity .name-container {
	text-align: left;
}

#victim-activity .counters {
	margin-top: 10px;
}

#victim-activity .count-block .title {
	font-weight: bold;
}

#victim-activity .name{
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: black;
	margin-top: 10px;
	text-align: left;
}

#victim-activity .images a{
	width: 15%;
	height: 140px;
	text-align: center;
	display: inline-block;
}

#victim-activity .images a img{
	border: 1px solid #fff;
}

#victim-activity .images a:hover img{
	border: 1px solid #00236f;
}

#start-analyze,
#add-victim {
	font-size: 18px;
	padding: 22px;
	border: 1px solid #1A5189;
	background-image: -moz-linear-gradient( 90deg, #356AA0 0%, #5085BB 100%);
	background-image: -webkit-linear-gradient( 90deg, #356AA0 0%, #5085BB 100%);
	height: 71px;
}

.action-bar {
	text-align: center;
	margin: 50px 0;
}

#start-analyze:hover,
#add-victim:hover {
	background-image: -moz-linear-gradient( 90deg, #33588c 0%, #4f73a8 100%);
	background-image: -webkit-linear-gradient( 90deg, #33588c 0%, #4f73a8 100%);
}

.analyze-progress {
	width: 600px;
	margin: 50px auto 50px auto;
}

.analyze-progress .stage {
	color: #00458e;
	padding: 10px 50px 10px 45px;
	position: relative;
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
}

.analyze-progress .stage:before,
.analyze-progress .stage.complete:after {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 30px;
	content: "";
}

.analyze-progress .stage:before {
	background: url(/images/square.png) left center no-repeat;
}

.analyze-progress .stage.complete:after {
	background:	url(/images/ok.png) left center no-repeat;
}

.analyze-progress .percents {
	position: absolute;
	right: 0;
	top: 10px;
	bottom: 10px;
	width: 60px;
	text-align: center;
}

.analyze-progress .percents:after {
	content: '%';
}

.analyze-progress .stage.complete {
	color: #00a645;
}

