
@import url("/fonts/geometria/fonts.css");
.action-index * {
	font-family: 'geometria', serif;
}

.slide {
	padding-top:46px;
	padding-bottom:46px;
	margin-top: -27px;
	height: 238px;
	background:url(/img/action/head.jpg) no-repeat center;
	background-size: cover;
}

.slide .text {
	text-align:center;
	text-transform:uppercase;
	font-size: 24px;
	color:#fff;
}

.slide .text div {
	font-weight: 500;
	margin-bottom:31px;
}

.slide .text span {
	display:block;
	font-weight: 700;
	margin-bottom:31px;
}

.slide .text small {
	font-size: 18px;
	text-transform:lowercase;
}

.action-wrapper .circle {
	color: #212121;
	font-family: Geometria, serif;
	font-size: 35px;
	text-align:center;
	line-height:82px;
	font-weight: 500;
	/* Style for "Ellipse 1" */
	margin:0 auto;
	width: 82px;
	height: 82px;
	border: 1px solid #ebebeb;
	border-radius:999px;
}


.action-wrapper .rec-text {
	text-align:center;
	color: #727272;
	margin-bottom:24px;
	font-size: 24px;
	margin-top:29px;
}

.action-wrapper .full-text {
	color: #080808;
	font-size: 20px;
	margin-bottom:38px;
	text-align: center;
}


.action-wrapper  .full-text .free-text {
	color: #74b673;
	font-size: 24px;
}

.checkbox-list div.row {
	font-size: 18px;
	margin-bottom:15px;
	text-align:left;
}

.checkbox-list input[type="checkbox"] + label {
	display:block;
}

.checkbox-list input[type="checkbox"] + label span {
	position:relative;
	float:left;
	margin-right:32px;
	display:block;
}


.checkbox-list input[type="checkbox"] + label span {

	border-radius: 33px;
	width: 41px;
	margin-top:-2px;
	height: 24px;
	cursor: pointer;
	border: 1px solid #DCDCDC;
	display: inline-block;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;

}


.checkbox-list input[type="checkbox"] + label span:before {
	background:url(/img/action/circle-check.png);
	width:31px;
	height:31px;
	left:-5px;
	top:-2px;
	position:absolute;
	content:'';
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.checkbox-list input[type="checkbox"]:checked + label span:before {
	left:14px;
}

.checkbox-list input[type="checkbox"]:checked + label span{
	background:#63bd62;
}

.checkbox-list input[type="checkbox"] {
	display:none;
}


.checkbox-list  {
	margin-bottom:60px;
}

.action-wrapper .add-link, .action-wrapper .add-link-wait {
	color: white;
	display:inline-block;
	font-size: 17px;
	line-height:40px;
	padding-left:70px;
	padding-right:70px;

	text-decoration:none;
	background-color: #e89f25;
	border: none;
	border-radius: 20px;
}

.action-wrapper .add-link-wait {
	opacity:0.8;
}

/**/
.action-wrapper .add-link:hover, .action-wrapper .add-link-wait:hover {
	opacity:0.8;
}

.action-wrapper {
	padding-bottom: 72px;
	padding-top:28px;
}

.action-wrapper .iphone {
	width:244px;
	margin-top: 0px;
	height:512px;
	position:relative;
	background:url(/img/action/iphone.png) no-repeat;
	background-size: 100% auto;
}

.action-wrapper .action-description-link {
	margin-top: 25px;
	width: 244px;
	color: #333;
	text-align: center;
}

.action-wrapper .action-description-link a {
	color: #125688;
	font-size: 18px;
	text-decoration: underline;
	font-weight:bold;
}

.action-wrapper .flexslider img {
	width: 212px;
	height: 212px;
}

.action-wrapper .flexslider {
	width: 212px;
	margin-left: 19px;
	padding-top: 139px;
}

.action-wrapper .flexslider ul li {
	position:relative;
}

.action-wrapper .flexslider ul li .qust {
	background:#000;
	color:#fff;
	top:0;
	left:0;
	width:200px;
}


.action-wrapper .iphone .flex-direction-nav a {
	top: 109px;
	width: 17px;
	text-indent:-99999px;
	height: 32px;
	position:absolute;
	background:url(/img/action/arrow-link.png) no-repeat;
}

.action-wrapper .iphone .flex-direction-nav a.flex-prev {
	left:-65px;
	background-position:left;
}

.action-wrapper .iphone .flex-direction-nav a.flex-next {
	right:-65px;
	background-position:right;
}

.action-wrapper .iphone .flex-direction-nav a:hover {
	opacity:0.7;
}


.action-wrapper .iphone .top {
	top: 22px;
	position: absolute;
	right: -70px;
	padding-top: 13px;
	padding-left: 22px;
	padding-right: 22px;
	background: url(/img/action/topq.png) no-repeat;
	width: 235px;
	height: 109px;
	font-size: 14px;
	z-index:10;
	color: #fff;
}



.action-wrapper .iphone .bottom {
	top: 390px;
	position: absolute;
	right: 40px;
	padding-top: 40px;
	z-index:10;
	padding-left: 15px;
	padding-right: 15px;
	background: url(/img/action/bottomq.png) no-repeat;
	width: 268px;
	height: 145px;
	font-size: 14px;
	color: #fff;
}


@media (min-width: 992px) {
	.action-wrapper .action-accounts-panel {
		margin-left:150px;
		width: 590px;
	}
}

@media (max-width: 767px){
	.flex-direction-nav{
		display: none !important;
	}

	.action-wrapper .iphone .top{
		right: -45px;
		padding-top: 7px;
	}

	.action-wrapper .iphone .bottom{
		/*right: 27px;
		width: 223px;
		height: 129px;
		background-size: 223px 129px;*/
	}

    .slide{
	    height: 258px;
    }
}