@import "fonts/fonts.css" screen;

html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

/* tmp */
.footer {
	margin-top: 20px;
}

.footer .header {
	border: 0;

	margin-bottom: 0;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #C55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
	white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #A94442;
	background: #FDF7F7;
	border-left: 3px solid #EED3D7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-croshair {
	cursor: crosshair;
}

.cursor-eresize {
	cursor: e-resize;
}

.cursor-move {
	cursor: move;
}

/*---------------------------------
1 - CSS Reset
2 - Global Styles
3 - Main info

---------------------------------*/

/********************************************************

    1 - CSS RESET (Eric Meyer's)

**********************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
.table-cont, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body, html {
	width: 100%;
	height: 100%;
	min-width: 100%;
}

body {
	line-height: 1;
	overflow-x: hidden;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

.table-cont {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input, textarea, a, img,
button:focus, input:focus, textarea:focus, a:focus, img:focus,
button:active, input:active, textarea:active, a:active, img:active {
	outline: none !important;
}

button {
	cursor: pointer;
}

mark {
	background: none;
}

p, strong, span, div, small, figure, button {
	font-family: HelveticaNeueCyr-Light;
}

/********************************************************

    2 -  GLOBAL STYLES

**********************************************************/

.pad-3 {
	padding: 0 3px;
}

.pad-10.first {
	padding: 0 3px 0 0;
}

.pad-10.last {
	padding: 0 0 0 3px;
}

.dd {
	font-size: 18px;
	line-height: 0;
	color: #0E8239;
	position: relative;
	top: 2px;
}

a {
	cursor: pointer;
}

.dn{
	display: none;
}

.va-bottom {
	display: inline-block;
	vertical-align: bottom;
	float: none;
}
.va-center {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
/********************************************************

    3 -  MAIN INFO

**********************************************************/

/* Header */
.header {
	margin-bottom: 25px;
	padding: 35px 0 0;
	min-height: 110px;
	border-bottom: 2px solid #8F8F8F;
	position: relative;
}

.toggle-menu{
	font-size: 28px;
	color: #ff5151;
	text-align: center;
	cursor: pointer;
}

.header .nav-top {
	margin-top: 18px;
}

.footer .header .nav-top {
	text-align: center;
	line-height: 34px;
	margin-top: 0;
}

.header .nav-top a {
	padding-right: 14px;
	font: 16px HelveticaNeueCyr-Roman;
	color: #000000;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.header .nav-top a:hover {
	color: #FF5656;
	text-decoration: none;
}

.header .logo {
	font: 38px HelveticaNeueCyr-Light;
}

.header .logo img {
	margin: -10px 10px 0;
	vertical-align: middle;
}

.header .logo a {
	font: 38px HelveticaNeueCyr-Light;
	color: #35B553;
	text-decoration: none;
	text-transform: lowercase;
	white-space: nowrap;
	position: relative;
}

.header .logo a:hover {
	text-decoration: none;
}

.header .user-name {
	padding-top: 9px;
}

.header .user-name .dropdown-menu {
	left: initial;
	right: 20px;
}

.header .user-name button {
	padding-right: 25px;
	font-size: 18px;
	background: #f8f8f8 url(../img/select_arrow.png) 95% center no-repeat;
	border: none;
	box-shadow: none;
	font-weight: bold;
	color: #666;
	margin-left: -45px;
	margin-top: 2px;
	max-width: 200px;
	max-height: 40px;
}

.header .user-name.open button {
	/*background: none;*/
	background: #f8f8f8 url(../img/select_arrow.png) 95% center no-repeat;
	border: none;
	box-shadow: none;
}

.header .user-name button img {
	margin-left: 5px;
}

.auth-reg-panel {
	margin-top: 19px;
	text-align: center;
	white-space: nowrap;
}

.auth-reg-panel a {
	font-size: 16px;
	color: black;
	cursor: pointer;
}

.auth-reg-panel a:hover {
	color: #1AC663;
	text-decoration: none;
}

.auth-reg-panel .registration {
	padding-right: 10px;
	border-right: 2px solid #1AC663;
}

.auth-reg-panel .sign-in {
	padding-left: 15px;
}

.auth-reg-panel .fa {
	margin-right: 7px;
	font-size: 22px;
	line-height: 0;
	color: #1AC663;
	position: relative;
	top: 1px;
}

/* Sub header */
.sub-header {
	margin-bottom: 8px;
	padding: 15px 0;
	background: #F2F2F2;
}

.sub-header .btn:not(.btn-default) {
	padding: 18px 0;
}

/*Btn-cont*/
.sub-header .btn-cont, .sub-header .counter {
	padding-top: 78px;
	font-family: HelveticaNeueCyr-Light;
	box-sizing: border-box;
}

.add-acount, .add-massive-images {
	margin-bottom: 10px;
	font: 19px HelveticaNeueCyr-Bold;
}

.add-acount {
	margin-bottom: 0;
}
.start-all, .stop-all {
	margin-top: 10px;
	padding: 12px 0 !important;
}

/* Counter */
.counter {
	text-align: center;
}

.counter .btn {
	padding: 5px 0;
	border: 0;
}

.counter .btn:hover {
	background: white;
}

.counter-item {
	display: inline-block;
	margin-top: 30px;
}

.counter-item:nth-of-type(2) {
	margin: 30px 1px;
}

.counter-item output.btn {
	margin-bottom: 10px;
	padding: 0 5px;
	background: white;
	text-align: center;
	font-size: 32px;
}

.counter-item p {
	font-size: 9px;
	text-align: center;
	text-transform: uppercase;
}

/* Counter End*/

/* Buy packets */
.buy-packets {
	padding-top: 10px;
	text-align: center;
}

.buy-pack-title {
	margin-bottom: 14px;
	font: 17px HelveticaNeueCyr-Light;
}

.days {
	margin-bottom: 8px;
	font-size: 14px;
	color: #C4C4C4;
}

.days strong {
	display: block;
	font-weight: bold;
	font-size: 22px;
	color: #00BF51;
}

.price {
	margin-bottom: 10px;
	font-size: 18px;
}

.price strong {
	margin-right: 5px;
	font-size: 24px;
	font-weight: bold;
}

.buy-packets .btn {
	width: 100%;
	font: 18px HelveticaNeueCyr-Bold;
}

.btn.bot-bor {
	border-bottom: 3px solid rgba(0, 0, 0, 0.4);
}

/* Table-container */
.table-cont td,
.table-cont th {
	border-bottom: 3px solid white;
	text-align: center;
}

.table-cont td:nth-of-type(4n),
.table-cont tr:first-of-type th,
.table-cont tr:last-of-type td:nth-of-type(4n) {
	border-right: 3px solid white;
}

.table-cont thead tr:first-of-type th {
	height: 60px;
	font: 17px HelveticaNeueCyr-Light;
	color: white;
	background: #FF5151;
}

.table-cont thead tr:first-of-type th:first-of-type {
	border-radius: 5px 0 0 5px;
}

.table-cont thead tr:first-of-type th:last-of-type {
	border-radius: 0 5px 5px 0;
}

.table-cont tbody tr {
	font: 19px HelveticaNeueCyr-Roman;
	color: white;
}

.table-cont tbody tr:first-of-type th:first-of-type {
	border-radius: 10px 0 0 10px;
}

.table-cont th {
	vertical-align: middle;
	text-align: center;
}

.table-cont .btn-group {
	width: 100%;
}

.new-subscribers {
	display: block;
	color: #FF5151;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.new-subscribers .fa {
	font-size: 26px;
	margin-left: 5px;
	line-height: 40px;
}

.plus50 + .fa {
	margin-left: 5px;
	color: #FF5151;
}

.table-cont thead figcaption {
	font: 13px HelveticaNeueCyr-Light;
	letter-spacing: 1px;
	color: #5F5F5F;
}

.table-cont .avatar {
	margin-top: -20px;
	font: 14px HelveticaNeueCyr-Light;
	color: #000000;
}

.table-cont .avatar img {
	width: 60px;
}

.table-cont .avatar a {
	color: black;
}

.table-cont thead tr:last-of-type {
	font: 14px HelveticaNeueCyr-Medium;
	color: #A7A7A5;
}

.table-cont thead tr:last-of-type th {
	padding: 10px 0 15px;
	position: relative;
}

.table-cont thead tr:last-of-type th:after {
	content: '';
	width: 100%;
	border-bottom: 3px solid #FF5151;
	position: absolute;
	bottom: 3px;
	left: 0;
}

.table-cont thead .fa {
	font-size: 25px;
}

.table-cont thead .fa-question-circle {
	font-size: 15px;
}

.table-cont thead .helper {
	margin-left: 3px;
	font-size: 16px;
	color: #A7A7A5;
	position: absolute;
	top: 5px;
}

.table-cont tbody tr:nth-of-type(even) {
	background: #71D39B;
}

.table-cont tbody tr:nth-of-type(odd) {
	background: #E49C9C;
}

.table-cont tbody td {
	padding: 55px 5px 25px;
	vertical-align: top;
	position: relative;
	font-size: 20px;
}

.table-cont tbody td:nth-of-type(n+9) {
	width: 100px;
}

/* Select Stylization */
.header .btn-default {
	border: none;
	background: none;
	position: relative;
}

.table-cont .btn-group {
	border-radius: 10px;
	background: white;
}

.table-cont .btn-group button {
	color: #696969;
	border-radius: 10px;
	background: white;
}

/* Reset text shadow/box-shadow Bootstrap btn */
.btn-default {
	color: #696969;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header .btn-default {
	font: 16px HelveticaNeueCyr-Light;
	color: #B2B2B2;
}

td.alignment-row {
}

.blocked {
	color: #ED2222;
}

.reset {
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	bottom: 20px;
	left: 90px;
	border-bottom: 1px dashed #FFF;
	z-index: 10;
}

.changeAccount {
	font-size: 14px;
	color: #FFFFFF;
	border-bottom: 1px dashed #FFF;
}

.changeAccount:hover {
	color: #EFEFEF;
	text-decoration: none;
	border-bottom: 1px dashed #FFF;
}

.reset:hover {
	color: #EFEFEF;
	text-decoration: none;
	border-bottom: 1px dashed #FFF;
}

.page h1 {
	font-size: 32px;
	font-weight: normal;
}

.page strong {
	font-weight: bold;
	color: #337AB7;
}

.page ul {
	list-style: circle;
	margin: 20px 0;
	padding-left: 30px;
}

.page ul li {
	margin: 20px 0;
}

.page p {
	margin: 20px 0;
}

.site-admin {
	margin-top: 20px;
}

/* Settings panel*/

::-webkit-input-placeholder {
	color: #787878;
}

::-moz-placeholder {
	color: #787878;
}

:-moz-placeholder {
	color: #787878;
}

:-ms-input-placeholder {
	color: #787878;
}

/* Set title */
.set-title {
	float: left;
	margin: 25px 0;
	padding-left: 32px;
	font: 28px HelveticaNeueCyr-Roman;
	box-sizing: border-box;
}

/* Main Settings */
.main-settings thead tr {
	background: #A6A6A4;
}

.main-settings th {
	padding: 0 30px;
	height: 70px;
	vertical-align: middle;
}

.main-settings th:first-of-type {
	width: 160px;
	background: #00BF51;
	color: white;
}

.main-settings th:last-of-type {
	font: italic 14px HelveticaNeueCyr-Light;
	color: white;
}

.main-settings th .fa {
	font-size: 38px;
}

.main-settings td {
	width: 25%;
}

.main-settings tbody td {
	height: 60px;
	font: 18px HelveticaNeueCyr-Roman;
	color: #5F5F5F;
	vertical-align: middle;
}

.main-settings .btn-gray {
	padding: 12px 22px 12px 12px;
	border: none;
	font: normal 14px HelveticaNeueCyr-Roman;
	color: white;
	border-radius: 10px;
	box-sizing: border-box;
	background: #A6A6A4;
	position: relative;
}

.main-settings .btn-gray i {
	position: absolute;
	top: 14px;
	right: 5px;
}

/*Cont text */
.cont-text {
	display: inline-block;
	padding: 10px 24px 10px 10px;
	font: normal 14px HelveticaNeueCyr-Roman;
	color: white;
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	vertical-align: middle;
	box-sizing: border-box;
	position: relative;
	background: #A6A6A4;
}

.cont-text.comment {
	min-width: 445px;
}

.cont-btn-green {
	display: table-cell;
	width: 500px;
	margin-bottom: 30px;
}

.cont-btn-green input {
	width: 400px;
	height: 40px;
	padding-left: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	box-sizing: border-box;
}

.cont-btn-green button {
	width: 40px;
	height: 40px;
	color: white;
	border: none;
	border-radius: 5px;
	background: #00BF51;
	position: relative;
}

.cont-text button {
	position: absolute;
	top: 11px;
	right: 10px;
}

.cont-text .help-coment {
	width: 19px;
	height: 20px;
	background: none;
	border: none;
	top: 8px;
	right: -30px;
}

.cont-text .help-coment i {
	color: #A1A19F;
}

.cont-text .fa {
	color: white;
}
.balloon {
	background: #A6A6A4;
	border-radius: 5px;
	color: #FFF;
	display: block;
	float: left;
	clear: right;
	width: 100%;
	position: relative;
	padding: 7px 70px 7px 15px;
	margin-bottom: 10px;
}
.balloon * {
	font-size: 14px;
	line-height: 24px;
}
.balloon .button-holder {
	position: absolute;
	right: 0;
	top: 2px;
}
.balloon .button-holder * {
	cursor: pointer;
	padding: 5px;
	margin-right: 5px;
	opacity: .3;
}
.balloon .button-holder *:hover {
	opacity: 1;
}
.pagination > .active > a {
	background-color: #4DA54D;
	border-color: #4DA54D;
}

/*----------------------------------------*/

.vermid,
.set-panel-head > div {
	white-space: nowrap;
	font-size: 0;
}

.vermid:before,
.set-panel-head > div:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.set-panel {
	clear: both;
}

.set-panel-head {
	overflow: hidden;
	height: 65px;
	color: white;
	border-radius: 7px 7px 0 0;
	background: #A6A6A4;
}

.set-panel-head > div {
	height: 100%;
}

.set-panel-head > div:first-of-type {
	border-top-left-radius: 7px;
	background: #00BF51;
}

.set-panel-head > div:last-of-type {
	font: italic 17px/20px HelveticaNeueCyr-Light;
}

.set-panel-head .fa,
.set-panel-head p {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}

.set-panel-head > div:first-of-type .fa {
	margin-left: 20px;
	font-size: 42px;
	vertical-align: middle;
}

.set-panel-body {
	margin-bottom: 25px;
	padding: 25px 15px 35px;
	background: #F7F7F7;
	border: 1px solid #E2E2E1;
}

.switch-set .set-panel-body {
	padding-bottom: 20px;
}

#options-form .switch-set .set-panel-body > div {
	margin-bottom: 15px;
}

.set-panel-body .toggle-group .fa {
	margin-top: -10px;
	font-size: 18px;
	color: white;
	vertical-align: middle;
}

.panel-sub-header {
	margin: 7px 0 25px;
}

.switch-set .unsubscribe-panel {
	margin-top: 10px;
	font-size: 14px;
	color: silver;
}

.set-panel-body > div {
	font: 18px HelveticaNeueCyr-Light;
}

.switch-set .unsubscribe-panel input {
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 15px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 10px;
	background: white;
}

.set-panel-body input[type="text"] {
	width: 80%;
	height: 37px;
	padding: 0 15px;
	margin-bottom: 15px;
	font-size: 14px;
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	box-sizing: border-box;
}

.set-panel-body .add-item {
	width: 37px;
	height: 37px;
	margin: 0;
	font-size: 26px;
	line-height: 26px;
	color: white;
	vertical-align: middle;
	border-radius: 5px;
	border: none;
	text-indent: -2px;
	/*background: #00BF51;a*/
}

.set-panel-body .list-item {
	float: left;
	min-height: 37px;
	margin: 0 10px 15px 0;
	padding: 10px 35px 10px 15px;
	font-size: 14px;
	color: white;
	border-radius: 5px;
	position: relative;
	background: #A6A6A4;
	box-sizing: border-box;
}

.set-panel-body .list-item:last-of-type {
	margin-bottom: 0;
}

.set-panel-body .list-item .fa {
	position: absolute;
	right: 10px;
	top: 12px;
	cursor: pointer;
}

.panel-city,
.panel-hash {
	clear: none;
}

.panel-city:not(.active) .set-panel-head > div:first-of-type,
.panel-hash:not(.active) .set-panel-head > div:first-of-type{
	background: #C5C5C5;
}

.panel-comments .set-panel-body .list-item {
	clear: both;
	/* min-width: 440px; */
	max-width: 920px;
	margin-right: 0;
}

.commentWidget{
	overflow: hidden;
	margin-bottom: 15px;
}

.set-panel-body .fs-16 {
	font-size: 16px;
}

/* SWITCHER */
.toggle.btn {
	min-width: 60px !important;
	max-width: 60px !important;
	min-height: 30px !important;
	max-height: 30px !important;
	border: 2px solid #00BF51;
	border-radius: 20px;
	box-sizing: border-box;
}

.toggle.btn.off {
	border-color: #A6A6A4;
}

.toggle .toggle-group .toggle-on {
	padding-left: 0;
	color: white;
	box-shadow: none;
	background: #00BF51;
}

.toggle .toggle-group .toggle-off {
	padding-right: 0;
	box-shadow: none;
	background: #A6A6A4;
}

.toggle .toggle-group .toggle-handle {
	padding: 0 25px;
	border-radius: 30px;
}

.toggle .toggle-group label,
.toggle .toggle-group label:hover{
	border: 0;
}

.group-action-btn {
	margin-bottom: 25px;
}

.group-action-btn .col-xs-4 .btn{
	width: 100%;
	min-height: 46px;
	padding: 5px 15px;
	font-size: 12px;
	white-space: normal;
}

/* Price page */
.price-title {
	font: 28px HelveticaNeueCyr-Medium;
	color: #5F5F5F;
}

.price-subtitle {
	margin-bottom: 20px;
	padding: 0 0 15px;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	color: #5F5F5F;
}

.table-price {
	margin-bottom: 30px;
}

.table-price tbody tr {
	cursor: pointer;
}

.table-price th {
	height: 55px;
	font: 17px HelveticaNeueCyr-Light;
	color: white;
	background: #FF5151;
	vertical-align: middle;
	text-align: center;
	border-right: 3px solid white;
}

.table-price td {
	height: 65px;
	font: 21px HelveticaNeueCyr-Bold;
	color: #5F5F5F;
	vertical-align: middle;
	text-align: center;
}

.table-price tbody tr:nth-of-type(odd) {
	background: #E4E4E4;
}

.table-price thead th:first-of-type {
	border-radius: 10px 0 0 0;
}

.table-price thead th:last-of-type {
	border-radius: 0 10px 0 0;
}

.table-price tbody tr:nth-of-type(even) {
	background: #D3D3D3;
}

.table-price tbody tr:hover {
	background: white;
}

.table-price tbody tr:hover td {
	color: #1AC663;
	background: #ffffff;
}

.table-price tbody tr.active {
}

.table-price tbody tr.active td {
	color: white;
	background: #1AC663;
}

.table-price th:first-of-type,
.table-price td:first-of-type {
	color: white;
	font-size: 27px;
}

.table-price .curency {
	display: inline-block;
	margin: 0 5px;
	position: relative;
	font-weight: bold;
}

.table-price .curency:before {
	content: '';
	position: absolute;
	font-weight: bold;
	width: 80%;
	height: 0;
	border-bottom: 1px solid;
	border-color: inherit;
	top: 65%;
	left: 0;
}

#about {
	width: 980px;
	margin: 0 auto;
}

#about p {
	margin: 20px 0;
}

#price td input[type="radio"], #price td input[type="checkbox"] {
	position: relative;
	left: -999999px;
	top: -7px;
}

#price td .fa-circle-o:before {
	position: relative;
	left: 10px;
}

.robokassa-button {
	background-image: url(https://www.robokassa.ru/ru/DemoShop/Images/FormMS.png);
	border: none;
	width: 300px;
	height: 67px;
}

.modal.fade {
	overflow-y: auto;
}
.modal-dialog {
	max-width: 600px;
}
.checkpointError .modal-content,
.accountErrorModal .modal-content {
	padding: 20px;
	border-radius: 0;
}

.changePasswordModal .modal-content {
	padding: 20px 99px 40px 99px;
	border-radius: 0;
}

.changePasswordModal .form-group {
	margin-bottom: 0;
}

#accountAdded .accountAddedContent{
	margin: 25px auto 45px auto;
}

#accountAdded .accountAddedContent, #accountAdded .accountAddedContent #city-block, #accountAdded .accountAddedContent #city-block span {
	color: #ff6666;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
}

/*
 * Tutorial page / Instruction
 */

.instruction p,
.instruction ul,
.instruction strong,
.instruction span,
.instruction button {
	font-family: HelveticaNeueCyr-Light;
	color: #5F5F5F;
}

.instruction h1,
.instruction h2 {
	font-family: HelveticaNeueCyr-Bold;
	color: #5F5F5F;
}

.instruction p, .instruction ul li {
	font-size: 18px;
	line-height: 22px;
}

.instruction h1 {
	clear: both;
	margin-bottom: 90px;
	font-size: 35px;
	text-align: center;
}

.instruction h2 {
	font-size: 28px;
	margin-bottom: 35px;
}

.instruction p {
	margin-bottom: 35px;
	line-height: 23px;
}

.instruction li {
	list-style: none;
}

.wrap-cont {
	margin-bottom: 100px;
}

/* Disordered list */
.disordered-list li {
	margin-bottom: 30px;
	padding-left: 22px;
	box-sizing: border-box;
	position: relative;
}

.disordered-list li:before {
	color: #00BF51;
	content: "\f111";
	font-family: FontAwesome, serif;
	font-size: 10px;
	position: absolute;
	left: 0;
}

/* Ordered list */
.order-list {
	counter-reset: step;
}

.order-list li {
	margin-bottom: 2px;
	padding-left: 16px;
	position: relative;
	box-sizing: border-box;
}

.order-list li:before {
	counter-increment: step;
	content: counter(step) ". ";
	font-size: 18px;
	color: #FF5151;
	position: absolute;
	top: 0;
	left: -2px;
}

.wrap-img img {
	width: 100%;
	display: block;
	margin: 0 auto 30px;
}

.wrap-img .photo,
.wrap-img .settings {
	max-width: 340px;
}

.wrap-img .clock {
	max-width: 325px;
}

.wrap-img .button {
	max-width: 320px;
}

/* Register Form */
.reg-form {
	max-width: 580px;
	padding: 40px 89px;
	background: #00BF51;
	box-sizing: border-box;
}

.reg-title {
	text-transform: uppercase;
	font-size: 30px;
	color: #FFFFFF;
	margin: 0 auto;
	text-align: center;
	font-weight: 400;
}

.reg-text {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 18px;
	text-align: center;
	color: white;
}

.reg-descr {
	margin-bottom: 20px;
	width: 96%;
	text-align: left;
	font-size: 16px;
	line-height: 15px;
	color: white;
}

.reg-form input {
	display: block;
	width: 100%;
	height: 54px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.42857;
	color: #FFFFFF;
	background: #00BF51 none;
	border: 2px solid #FFFFFF;
	border-radius: 0;
	text-align: center;
}

.reg-form ::-webkit-input-placeholder {
	color: white;
}

.reg-form ::-moz-placeholder {
	color: white;
}

/* Firefox 19+ */
.reg-form :-moz-placeholder {
	color: white;
}

/* Firefox 18- */
.reg-form :-ms-input-placeholder {
	color: white;
}

.reg-form button {
	display: block;
	width: 100%;
	height: 54px;
	padding: 10px 12px;
	font-size: 18px;
	line-height: 1.42857;
	color: #00BF51;
	background: #FFFFFF none;
	border: 4px solid #00BF51;
	border-radius: 0;
	text-align: center;
	margin-bottom: 30px;
}

/* Login Form */
#loginModal .modal-content, #passwordModal .modal-content, #passwordSucessModal .modal-content {
	padding: 60px 89px;
	border-radius: 0;
	border: 1px solid #00BF51;
}

#loginModal .login-form input, #passwordModal .login-form input, #passwordSucessModal .login-form input {
	display: block;
	width: 100%;
	height: 54px;
	padding: 10px 12px;
	font-size: 18px;
	line-height: 1.42857;
	color: #33cc99;
	background: #FFFFFF none;
	border: 2px solid #00BF51;
	border-radius: 0;
	text-align: center;
	margin-bottom: 15px;
}

.reset-password{
	margin-top: 10px;
	color: red;
}

.login-title {
	font-size: 30px;
	font-family: Open Sans;
	color: #00BF51;
	margin: 0 auto;
	text-align: center;
	font-weight: 400;
	padding: 0 0 20px 0;
	text-transform: uppercase;
}

.login-form .login-text,
.login-form .descr-text {
	font-size: 18px;
	color: #00BF51;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}

.login-form .descr-text {
	margin: 30px 0;
	text-align: left;
}

.login-form ::-webkit-input-placeholder {
	color: #B9B9B9;
}

.login-form ::-moz-placeholder {
	color: #B9B9B9;
}

/* Firefox 19+ */
.login-form :-moz-placeholder {
	color: #B9B9B9;
}

/* Firefox 18- */
.login-form :-ms-input-placeholder {
	color: #B9B9B9;
}

.login-form button {
	width: 100%;
	height: 50px;
	border-radius: 0;
}

/* Bootstrp correct*/
#regModal .modal-dialog, #payRegModal .modal-dialog, #mainRegModal .modal-dialog,
#loginModal .modal-dialog,#passwordModal .modal-dialog, #passwordSucessModal .modal-dialog {
	max-width: 580px;
}

/********************************************************

    N -  LANDING PAFE

**********************************************************/

/*
 * Global
 */

.landing {
	margin-top: -27px;
	padding: 75px 0 0;
	color: #3B3B3B;
	background: url("../img/landing/main-block/bg_top.jpg") center top no-repeat;
}

.landing .container-fluid {
	max-width: 1600px;
}

.landing h1 {
	margin: -20px 0 20px 15px;
	font-size: 43px;
	line-height: 60px;
}

.landing h2 {
	margin-bottom: 85px;
	padding-bottom: 35px;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	color: #1AC663;
	position: relative;
	background: url(../img/landing/advantages/header_lines.png) left bottom no-repeat;
}

/*
 * Main top block
 */

.landing .land-main-block {
	min-height: 900px;
	margin-bottom: 75px;
	color: white;
}

.landing .land-main-block-text p {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 20px;
	margin-left: 15px;
}

.landing .btn {
	display: inline-block;
	margin: 0 auto;
	height: 55px;
	padding: 12px 50px;
	font-size: 24px;
	border: 0;
	background: #FF5151;

}

.landing .land-main-block .log-in {
	clear: both;
	display: inline-block;
	margin: 25px 0;
	padding-bottom: 2px;
	font-size: 18px;
	text-decoration: none;
	color: white;
	border-bottom: 1px dashed white;
}

.landing .land-main-block-note {

}


.landing .land-main-block .items{
	text-align: center;
}
.landing .land-main-block .items .item{
	background: url(../img/landing/romb2.png) left bottom no-repeat;
	width: 164px;
	height: 190px;
	text-align: center;
	padding: 55px 0px 0px;
	display: inline-block;
	margin: 10px 15px;
}
.landing .land-main-block .items .item p{
	margin: 0px;
	font-family: HelveticaNeueCyr-Bold;
	font-size: 16px;
	color: #fff;
}
.landing .land-main-block .items .item p span{
	display: block;
	font-size: 26px;
	padding: 15px 0px;
}






.landing .land-note img {
	display: block;
	width: 100%;
	max-width: 610px;
	height: auto;
	margin: 0 auto;
}

.landing .land-note .btn {
	width: 220px;
	height: inherit;
	margin: -50px auto -100px;
	padding: 15px 20px;
	font-size: 20px;
	border: 0;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .7);
	white-space: normal;
}

.landing .land-detail {
	display: inline-block;
	margin: 100px auto 0;
	padding-bottom: 120px;
	font-size: 20px;
	color: white;
	position: relative;
	background-color: transparent;
}

.landing .land-detail:after {
	content: '';
	width: 95px;
	height: 110px;
	margin-left: -45px;
	position: absolute;
	top: 65px;
	left: 50%;
	background: url(../img/landing/main-block/land-detail.png) no-repeat;
}

/*
 * Advantages
 */

.landing .advantages {
	margin-bottom: 100px;
	text-align: center;
}

.landing .advantages h2:before {
	height: 45px;
	bottom: 0;
	background: url(../img/landing/advantages/header_lines.png) no-repeat;
}

.landing .advantages-item {
	min-height: 610px;
	font-size: 24px;
}

.landing .advantages-item img {
	margin-bottom: 45px;
}

.landing .advantages-item figcaption {
	margin-bottom: 35px;
	font-family: HelveticaNeueCyr-Bold;
}

.landing .advantages-item p {
	font-size: 20px;
	line-height: 30px;
}

/*
 * About us
 */

.landing .about-us {
	min-height: 900px;
	background: url(../img/landing/about-us/bg_left.jpg) 0 150px no-repeat;
}

.landing .about-us h2 {
	background: url(../img/landing/about-us/header_lines.png) right bottom no-repeat;
}

.landing .about-us p {
	padding: 25px 0 25px 25px;
	font-size: 24px;
	line-height: 30px;
	text-align: justify;
	background-color: rgba(255, 255, 255, 0.8);
}

.landing .about-us p:first-of-type {
	margin-bottom: 20px;
	color: #FF5151;
	font-family: HelveticaNeueCyr-Bold;
}

.clone .about-us p {
	font-size: 18px;
	line-height: 25px;
}



/*
 * Preim
 */
.landing .preim {
	min-height: 900px;
	background: url(../img/landing/screenshots/bg_right.png) right top no-repeat;
}

.landing .preim h2 {
	padding: 100px 0 70px;
	background: url(../img/landing/screenshots/header_lines.png) right bottom no-repeat;
}
.landing .preim .items{
	text-align: center;
}
.landing .bxslider .slide img{ height:500px;}
.landing .preim a{
	display:inline-block;
}
.landing .preim .item{
	background: url('../img/landing/romb.png') no-repeat top center;
	width: 125px;
	min-height: 113px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 0px 17px 20px 17px;
	font-family: "HelveticaNeueCyr-Light";
	color: #000;
	font-size: 18px;
	text-decoration:none;
}
.landing .preim .item i{
	color: #fff;
	font-size: 60px;
	line-height: 113px;
}
.landing .preim .item p{
	padding-top: 10px;
}
.landing .preim .item p a{
	color: #de5252;
	font-size: 18px;
	font-family: "HelveticaNeueCyr-Light";
}
.landing .preim .desc{}
.landing .preim .desc p{
	max-width: 370px;
	color: #000;
	font-size: 20px;
	margin-top: 50px;
	line-height: 30px;
}
.landing .preim .desc p.title{
	font-family: "HelveticaNeueCyr-Bold";
	font-size: 24px;
	color: #de5252;
	margin-bottom: 10px;
}



/*
 * Price
 */

.landing .price{}
.landing .price h2{
	padding: 100px 0 70px;
	background: url(../img/landing/about-us/header_lines.png) right bottom no-repeat;

}
.landing .price table{
	max-width: 960px;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 130px;
}
.landing .price table tr {}
.landing .price table tr th {
	background: #de5252;
	font-size: 24px;
	color: #fff;
	font-family: "HelveticaNeueCyr-Light";
	text-align: center;
	line-height: 50px;
	border: none;
	border-right: 2px solid #fff;
}
.landing .price table tr th:last-child {
	border: none;
}
.landing .price table tr{
	background: #d2d2d2;
}
.landing .price table tr td{
	text-align: center;
	font-family: "HelveticaNeueCyr-Medium";
	font-size: 24px;
	color: #3d3d3d;
	line-height: 50px;
	border: none;
}
.landing .price .table-striped > tbody > tr:nth-of-type(odd){
	background-color: #e3e3e3!important;
}
.landing .price table tr td a{
	font-family: "HelveticaNeueCyr-Bold";
	font-size: 20px;
	color: #fff;
	display: inline-block;
	background: #de5252;
	border: 3px solid #de5252;
	line-height: 30px;
	border-radius: 6px;
	padding: 0px 25px;
	text-decoration: none;
}
.landing .price table tr.green{

}
.landing .price table tr.green td{
	background: #71c569;
	color: #fff;
	position: relative;
}
.landing .price table tr.green td .popular{
	display: block;
	width: 65px;
	height: 65px;
	background: url(../img/landing/popular.png) right bottom no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
}
.landing .price table tr.green td a{

}
.landing .price table tr:hover{}
.landing .price table tr:hover td{
	background: #fff;
	color: #71c569;
	cursor: pointer;
}
.landing .price table tr:hover td a{
	background: #fff;
	color: #de5252;
}
.landing .price p{
	font-family: "HelveticaNeueCyr-Roman";
	font-size: 24px;
	color: #3d3d3d;
	margin-bottom: 30px;
}
.landing .price{}













/*
 * Screenshots
 */

.landing .screenshots {
	min-height: 900px;
	background: url(../img/landing/screenshots/bg_left.png) left 400px no-repeat, url(../img/landing/screenshots/bg_right.png) right top no-repeat;
}

.landing .screenshots h2 {
	padding: 100px 0 70px;
	background: url(../img/landing/screenshots/header_lines.png) right bottom no-repeat;
}

.landing .screenshots img {
	display: block;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

/*
 * How it's work
 */

.landing .how-work {
	min-height: 900px;
	background: url(../img/landing/screenshots/bg_right.png) right top no-repeat, url(../img/landing/how-work/bg_left.png) left bottom no-repeat, url(../img/landing/how-work/bg_right.png) right 1400px no-repeat;
}

.landing .how-work h2 {
	padding: 50px 0;
	background: none;
	/* background: url(../img/landing/how-work/header_lines.png) left bottom no-repeat; */
}

.landing .how-item {
	margin-bottom: 100px;
	border-right: 1px solid #50D388;
	position: relative;
}

.landing .how-item:nth-of-type(2) {
	margin: -625px -1px 0;
	border-left: 1px solid #50D388;
	border-right: 0;
}

.landing .how-item:nth-of-type(3) {
	/* margin-left: 2px; */
}

.landing .how-item:first-of-type:after {
	content: '';
	width: 100.3%;
	height: 110px;
	position: absolute;
	left: 0;
	top: -110px;
	background: url(../img/landing/how-work/header_lines.png) left top no-repeat;
	background-size: 100% 100%;
}

.landing .how-item:last-of-type:after {
	content: '';
	width: 30px;
	height: 19px;
	position: absolute;
	right: -16px;
	bottom: -19px;
	background: url(../img/landing/how-work/arrow.jpg) no-repeat;
}

.landing .how-item:before {
	content: '';
	width: 35px;
	height: 45px;
	position: absolute;
	right: -18px;
	top: 50%;
	background: white url(../img/landing/how-work/icon1.png) center center no-repeat;
	z-index: 111;
}

.landing .how-item:nth-of-type(2):before {
	left: -17px;
	background-image: url(../img/landing/how-work/icon2.png);
}

.landing .how-item:nth-of-type(3):before {
	background-image: url(../img/landing/how-work/icon3.png);
}

.landing .how-item img {
	display: block;
	margin: 0 auto 80px;
	padding: 0 15px;
	width: 100%;
	max-width: 380px;
}

.landing .how-item figcaption {
	margin-bottom: 40px;
	font: 24px HelveticaNeueCyr-Bold;
	color: #FF5151;
}

.landing .how-item p {
	padding-right: 80px;
	font-size: 24px;
	line-height: 32px;
	text-align: justify;
}

.landing .how-item:nth-of-type(2) figcaption,
.landing .how-item:nth-of-type(2) p {
	margin-left: 80px;
	padding-right: 0;
}

.landing .how-work .btn {
	clear: both;
	display: inline-block;
	margin: 0 auto 150px;
}

/*
 * Feedback
 */

.landing .feedback {
	min-height: 900px;
	background: url(../img/landing/screenshots/bg_left.png) left bottom no-repeat;
}

.landing .feedback .mtm50 {
	margin-top: -50px;
}

.landing .feedback h2 {
	padding-bottom: 120px;
	background: url(../img/landing/feedback/header_lines.png) center bottom no-repeat;
}

.landing .feedback img {
	display: block;
	margin: 0 auto 120px;
	width: 100%;
	max-width: 420px;
}

.landing .feedback .user-image {
	margin-bottom: 10px;
}

.landing .feedback blockquote {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 32px;
	text-align: justify;
}

.landing .feedback blockquote:before,
.landing .feedback blockquote:after {
	font-size: 45px;
	line-height: 0;
	font-weight: bold;
	color: #FF5353;
	position: relative;
	top: 10px;
}

.landing .feedback blockquote:before {
	content: '\201c';
	margin-right: 15px;
}

.landing .feedback blockquote:after {
	content: '\201d';
	margin-left: 15px;
}

.landing .feedback .sign {
	color: #C43F3D;
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 10px;
}
/********************************************************

    N -  MOBIL PAGES

**********************************************************/

/* START PAGE */
/* ------------------------------------------------------ */

/*
 * Global
 */

.startpage {
	/* margin-top: -27px; */
	padding: 10px 0 0;
	color: #3B3B3B;
	background: url("../img/landing/main-block/bg_top.png") center top no-repeat;
	background-size: contain;
}

.startpage .container-fluid {
	max-width: 1600px;
}

.startpage h1 {
	margin: 0 0 10px 0;
	font-size: 22px;
	line-height: 26px;
}

.startpage h2 {
	margin-bottom: 35px;
	padding-bottom: 12px;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: #1AC663;
	position: relative;
	background: url(../img/landing/advantages/header_lines.png) -80px bottom repeat-x;
	background-size: 300px;
}

/*
 * Main top block
 */

.startpage .land-main-block {
	margin-bottom: 35px;
	color: white;
}

.startpage .land-main-block-text{
	text-align: center;
}

.startpage .land-main-block-text p {
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 20px;
}

.startpage .btn {
	display: inline-block;
	height: 30px;
	margin: 0 auto 5px;
	padding: 5px 20px;
	font-size: 17px;
	border: 0;
	background: #FF5151;

}

.startpage .land-main-block .log-in {
	clear: both;
	display: inline-block;
	margin-bottom: 25px;
	padding-bottom: 2px;
	font-size: 16px;
	text-decoration: none;
	color: white;
	border-bottom: 1px dashed white;
}

.startpage .land-main-block-note {

}

.startpage .land-note img {
	display: block;
	width: 100%;
	max-width: 320px;
	height: auto;
	margin: 0 auto;
}

.startpage .land-note .btn {
	width: 110px;
	height: 30px;
	margin: -22px 0 0 -55px;
	padding: 5px 10px;
	font-size: 15px;
	border: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	background: rgba(0, 0, 0, .7);
	box-sizing: border-box;
}

.startpage .land-detail {
	display: inline-block;
	margin: 100px auto 0;
	padding-bottom: 120px;
	font-size: 20px;
	color: white;
	position: relative;
	background-color: transparent;
}

.startpage .land-detail:after {
	content: '';
	width: 95px;
	height: 110px;
	margin-left: -45px;
	position: absolute;
	top: 65px;
	left: 50%;
	background: url(../img/landing/main-block/land-detail.png) no-repeat;
}

/*
 * Advantages
 */

.startpage .advantages {
	margin-bottom: -10px;
	text-align: center;
}

.startpage .advantages h2:before {
	height: 45px;
	bottom: 0;
	background: url(../img/landing/advantages/header_lines.png) no-repeat;
}

.startpage .advantages-item {
	margin-bottom: 35px;
	font-size: 24px;
}

.startpage .advantages-item img {
	width: 60%;
	max-width: 320px;
	margin-bottom: 15px;
}

.startpage .advantages-item figcaption {
	margin-bottom: 15px;
	font-size: 20px;
	font-family: HelveticaNeueCyr-Bold;
}

.startpage .advantages-item p {
	font-size: 20px;
	line-height: 24px;
}

/*
 * About us
 */

.startpage .about-us {
	margin-bottom: 30px;
	/* background: url(../img/landing/about-us/bg_left.jpg) 0 150px no-repeat; */
}

.startpage .about-us h2 {
	margin-bottom: 25px;
	background: url(../img/landing/about-us/header_lines.png) left bottom repeat-x;
	background-size: 600px;
}

.startpage .about-us p {
	padding: 0;
	font-size: 18px;
	line-height: 21px;
}

.startpage .about-us p:first-of-type {
	margin-bottom: 25px;
	color: #FF5151;
	font-family: HelveticaNeueCyr-Bold;
}

.clone .about-us p {
	font-size: 18px;
	line-height: 25px;
}

/*
 * Screenshots
 */

.startpage .screenshots {
	margin-bottom: 30px;
	background: url(../img/landing/screenshots/bg_left.png) -30px 520px no-repeat, url(../img/landing/screenshots/bg_right_mob.png) right 110px no-repeat;
	background-size: 80px, 40px;
}

.startpage .screenshots h2 {
	margin-bottom: 0;
	padding-bottom: 40px;
	background: url(../img/landing/screenshots/header_lines.png) center bottom no-repeat;
	background-size: 100% 50px;
}

.startpage .screenshots img {
	display: block;
	width: 75%;
	max-width: 350px;
	margin: 0 auto;
}

/*
 * How it's work
 */

.startpage .how-work {
	min-height: 900px;
	/* background: url(../img/landing/screenshots/bg_right.png) right top no-repeat, url(../img/landing/how-work/bg_left.png) left bottom no-repeat, url(../img/landing/how-work/bg_right.png) right 1400px no-repeat; */
}

.startpage .how-work h2 {
	margin-bottom: 80px;
	background: none;
	/* background: url(../img/landing/how-work/header_lines.png) left bottom no-repeat; */
}

.startpage .how-item {
	padding-bottom: 35px;
	border-right: 1px solid #50D388;
	position: relative;
	text-align: center;
}

.startpage .how-item:nth-of-type(2) {
}

.startpage .how-item:nth-of-type(3) {
	margin-bottom: 65px;
	padding-bottom: 0;
}

.startpage .how-item:first-of-type:after {
	content: '';
	width: 100.3%;
	height: 110px;
	position: absolute;
	left: 0;
	top: -110px;
	background: url(../img/landing/how-work/header_lines.png) left top no-repeat;
	background-size: 100% 100%;
}

.startpage .how-item:last-of-type:after {
	content: '';
	width: 100%;
	height: 60px;
	position: absolute;
	right: 0;
	bottom: -58px;
	background: url(../img/landing/how-work/footer_line_arrow.png) right top no-repeat;
}

.startpage .how-item:before {
	content: '';
	width: 25px;
	height: 45px;
	position: absolute;
	right: -12px;
	top: 35%;
	background: white url(../img/landing/how-work/icon1.png) center center no-repeat;
	background-size: contain;
	z-index: 111;
}

.startpage .how-item:nth-of-type(2):before {
	background-image: url(../img/landing/how-work/icon2.png);
}

.startpage .how-item:nth-of-type(3):before {
	background-image: url(../img/landing/how-work/icon3.png);
}

.startpage .how-item img {
	display: block;
	margin: 0 auto 20px;
	padding: 0 15px;
	width: 90%;
	max-width: 380px;
}

.startpage .how-item figcaption {
	margin-bottom: 10px;
	font: 18px/24px HelveticaNeueCyr-Bold;
	color: #FF5151;
}

.startpage .how-item p {
	font-size: 18px;
	line-height: 22px;
}

.startpage .how-item:nth-of-type(2) figcaption,
.startpage .how-item:nth-of-type(2) p {
}

.startpage .how-work .btn {
	clear: both;
	display: inline-block;
	height: 45px;
	margin: 0 auto 30px;
	padding: 7px 50px;
	font-size: 21px;
}

/*
 * Feedback
 */

.startpage .feedback {
	background: url(../img/landing/screenshots/bg_left.png) left 125px no-repeat, url(../img/landing/screenshots/bg_right_mob.png) right bottom no-repeat;
	background-size: 40px;
}

.startpage .feedback .mtm50 {
}

.startpage .feedback h2 {
	margin-bottom: 0;
	background: url(../img/landing/feedback/header_lines.png) right center no-repeat;
	background-size: 80px 35px;
}

.startpage .feedback img {
	display: block;
	margin: 0 auto 120px;
	width: 100%;
	max-width: 420px;
}

.startpage .feedback blockquote {
	margin-bottom: 30px;
	padding: 0 25px;
	font-size: 18px;
	line-height: 22px;
}

.startpage .feedback blockquote:before,
.startpage .feedback blockquote:after {
	font-size: 38px;
	line-height: 0;
	font-weight: bold;
	color: #FF5353;
	position: relative;
	top: 10px;
}

.startpage .feedback blockquote:before {
	content: '\201c';
	margin-right: 5px;
}

.startpage .feedback blockquote:after {
	content: '\201d';
	margin-left: 5px;
}


/* DASHBOARD */
/* ------------------------------------------------------ */

.mb10{
	margin-bottom: 10px;
}
.mb5{
	margin-bottom: 5px;
}


/* BLOG */
/* ------------------------------------------------------ */

.blog-wrap {
	margin-bottom: 30px;
}

.blog-post {
	background: #F7F7F7;
	border: 1px solid #E2E2E1;
	border-radius: 7px;
	position: relative;
	padding: 0;
}

.blog-content {
	padding: 27px 30px 30px;
}

.blog-content.media {
	padding: 0 20px 15px;
}

.blog-thumb {
	max-width: 150px;
	max-height: 150px;
}

.blog-image {
	margin-bottom: 27px;
}

.blog-image img {
	height: auto;
	max-height: 300px;
	width: 100%;
}

.blog-wrap .blog-date {
	background: transparent url(../img/blog.png) no-repeat;
	width: 73px;
	height: 60px;
	text-align: center;
	font-weight: 600;
	font-family: HelveticaNeueCyr-Bold, sans-serif;
}

.blog-date .day {
	font-size: 13px;
	line-height: 13px;
	padding-top: 14px;
}

.blog-date .month {
	font-size: 13px;
	line-height: 13px;
}

.blog-date .year {
	font-size: 13px;
	line-height: 13px;
	padding-top: 2px;
}

.blog-post p {
	margin-bottom: 0;
	line-height: 23px;
	font-size: 18px;
}

.blog-post p strong {
	font-family: HelveticaNeueCyr-Bold, sans-serif;
	font-weight: bold;
}

.blog-post p em {
	font-family: HelveticaNeueCyr-Light, sans-serif;
	font-style: italic;
}

.blog-title {
	font-family: HelveticaNeueCyr-Bold, sans-serif;
	background: #00BF51;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-weight: bold;
	padding-left: 30px;
	color: #FFF;
	font-size: 16px;
	line-height: 42px;
}
.blog-title a {
	color: #FFF;
}

.blog h1 {
	clear: both;
	margin-bottom: 30px;
	font-size: 35px;
	text-align: center;
	font-family: HelveticaNeueCyr-Bold, sans-serif;
	color: #5F5F5F;
}

/* SETTINGS */
/* ------------------------------------------------------ */

.pagesize{
	margin-bottom: 5px;
}
.p05{
	padding: 0 5px;
}

/********************************************************

    N -  ANOTHER

**********************************************************/


#action {
	text-align: center;
	min-height: 40px;
	line-height: 40px;
	background: #efefef;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	font-family: 'sans-serif', 'arial', 'tahoma';
}

#action a {
	color: #ff6666;
	text-decoration: underline;
}

#action a:hover {
	color: #ff0000;
}

#action .close {
	float: right;
	margin-top: 8px;
	text-decoration: none;
}

#actionInfo .modal-content {
	line-height: 30px;
	border-radius: 0;
}

#actionInfo .icon {
	width: 48px;
	height: 48px;
	margin: 20px 10px 0 10px;
}

.zen-modal .button.close {
	margin-right: -17px;
}

.zen-modal .modal-content {
	border-radius: 0;
	padding: 0 15px;
}

.zen-modal .modal-title {
	text-align: center;
	color: #ff6666;
	margin-bottom: 15px;
	padding-top: 10px;
	margin-top: 3px;
	font: 24px HelveticaNeueCyr-Bold;
	text-transform: uppercase;
}

.zen-modal .form-control {
	border-radius: 0;
	margin-bottom: 10px;
}

.zen-modal .btn {
	width: 100%;
	height: 50px;
	color: white;
	border: none;
	border-radius: 0;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 38px;
}
.zen-modal .btn-green {
	background: #00BF51;
}
.zen-modal .btn-green:hover {
	background: #419641;
}
.zen-modal .btn-red {
	background: #D9534F;
}
.zen-modal .btn-red:hover {
	background: #C9302C;
}
.zen-modal label {
	font-weight: bold;
	margin-bottom: 10px;
}

#support .btn {
	background: #00BF51;
}

#user-settings input {
	height: 54px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 30px;
}

#currencies {
	margin-top: 20px;
}

#refund-policy .modal-body {
	font-size: 16px;
	line-height: 1.42857143;
}

#refund-policy .modal-body p {
	margin: 0 0 10px;
}
#refund-policy .modal-body ul {
	list-style: disc;
	padding-left: 40px;
}

.site-admin h1 {
	margin: 20px 0;
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

.site-admin p {
	margin: 20px 0;
}

.pay-button {
	background: #ffffff;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-right: 10px;
	margin-top: 10px;
	height: 80px;
	line-height: 70px;
	padding: 0;
	width: 140px;
	overflow: hidden;
}

.pay-button:hover {
	border: 1px solid #000;
}

.pay-button img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.most-popular {
	position: absolute;
	left: 23%;
	top: 41%;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;
	background: #FF5151;
	padding: 2px 5px;
	border-radius: 2px;
}

.most-popular:after {
	right: 100%;
	top: 50%;
	border: 5px solid rgba(136, 183, 213, 0);
	border-right-color: #FF5151;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	margin-top: -5px;
}

.user-balance {
	margin: 0 auto;
}

.addAccount button {
	/* color: #ffffff; */
	/* background-color: #ff6666; */
	/* border-color: #ff4c4c; */
	width: 100%;
	max-width: 400px;
	height: 65px;
	/* font-size: 23px; */
	/* border: none; */
	border-radius: 4px;
	font: 19px HelveticaNeueCyr-Bold;
	/* text-transform: uppercase; */
	/* font-family: 'Open Sans'; */
}
/*
.addAccount button:hover {
    background-color: #ff3d3d;
    border-color: #ff0f0f;
	color: #fff;
}

.addAccount button.btn-success {
	background-image: none;
	background-color: #00BF51;
	border-color: #009841;
    opacity: .8;
}
.addAccount button.btn-success:hover {
	opacity: 1;
}*/
.addAccount ul {
	list-style: disc;
	margin-left: 20px;
	margin-bottom: 20px;
}
.addAccount ul li {
	margin-bottom: 10px;
}

.addAccount input {
	width: 400px;
	height: 54px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.428571429;
	color: #555555;
	background: #ffffff none;
	border: 2px solid #ff6666;
	border-radius: 0;
}

.read-message,
.read-message:focus {
	display: none;
	font-size: 14px;
	color: #CC3F3B;
	text-decoration: none;
	margin-top: 2px;
	float: left;
	background: #ffffff;
	border-radius: 50%;
	width: 13px;
	height: 13px;
}

.read-message:hover {
	color: #CC3F3B;
	text-decoration: none;
}

.instagram-content-row, .modal-content-comment {
	border-bottom: 1px solid #f2f3f1;
	margin-top: 10px;
	padding-bottom: 10px;
}

.media-grid-item {
	position: relative;
}
.media-grid-item img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.panel-more {
	margin-top: 15px;
}

.panel-more-comments {
	margin-bottom: 15px;
}

.instagram-comment {
	margin-top: 5px;
	height: 35px;
}

.instagram-modal-comment {
	margin-top: 5px;
	padding-top: 5px;
	position: relative;
}

.instagram-modal-comment .delete {
	cursor: pointer;
	display: none;
	position: absolute;
	right: 5px;
	z-index: 10;
}
.instagram-modal-comment:hover .delete {
	display: inherit;
}

.comment-user img {
	width: 40px;
	height: auto;
}

.modal-send-comment {
	margin-top: 20px;
	position: relative;
}

.modal-video .modal-send-comment {
	position: absolute !important;
	right: 30px;
	bottom: 0;
	left: 0;
}

.modal-video .modal-flex {
	display: flex;
	align-items: stretch;
}

.modal-video .modal-flex .col-md-5 {
	padding-bottom: 135px;
}

.modal-video .modal-flex .col-md-7 {
	align-self: center;
}

.colored {
	color: #FF5151;
	font-weight: bold;
}

a.colored {
	text-decoration: underline;
}

.modal-content-comments {
	height: 385px;
	max-height: 385px;
	overflow-y: scroll;
}

.modal-video .modal-content-comments {
	height: auto;
}

.modal-content-comments::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
.modal-content-comments::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}
.modal-content-comments::-webkit-scrollbar-thumb {
	background: #cfcfcf;
	border: 0 none #ffffff;
	border-radius: 50px;
}
.modal-content-comments::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}
.modal-content-comments::-webkit-scrollbar-thumb:active {
	background: #666666;
}
.modal-content-comments::-webkit-scrollbar-track {
	background: #efefef;
	border: 0 none #ffffff;
	border-radius: 50px;
}
.modal-content-comments::-webkit-scrollbar-track:hover {
	background: #cfcfcf;
}
.modal-content-comments::-webkit-scrollbar-track:active {
	background: #c6c6c6;
}
.modal-content-comments::-webkit-scrollbar-corner {
	background: transparent;
}

.modal-comment-input {
	min-height: 60px;
	display: block;
	margin-bottom: 5px;
	border: 1px solid #e1e1e1;
}

/* NEW ACCOUNT PANEL */
.acc-pane {
	padding: 15px;
	border: 5px solid transparent;
	border-radius: 10px;
	box-shadow: inset 0 0 1px #555;
	background-color: #F7F7F7;
	background-clip: padding-box;
	position: relative;
	margin-bottom: 5px;
}

.acc-pane:nth-of-type(3n+1) {
	left: -5px
}

.acc-pane:nth-of-type(3n+3) {
	right: -5px
}

.acc-img-set {
	overflow: hidden;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dadada;
}

.acc-ava {
	float: left;
	width: 80px;
	height: 80px;
	margin-bottom: 6px;
}

.field-options-mutual label,
.field-options-autounfollow label {
	font-size: 14px;
}

.field-options-autounfollow,
.field-options-autounfollow .checkbox {
	margin-bottom: 0;
}

.acc-forgot-pass {
	float: left;
	font-size: 11px;
	color: #757575;
	text-decoration: underline;
	clear: both;
}
.acc-pane .account-login {
	display: block;
	max-width: 250px;
	max-height: 25px;
}

.new-comments {
	float: right;
	margin-right: 10px;
}
.new-comments *{
	font-size: 11px;
	color: #cf0000;
}

.new-comments *:hover {
	color: #cf0000;
}

.acc-img-set figcaption {
	float: right;
	/* width: 255px; */
}

.acc-img-set figcaption b {
	display: block;
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	letter-spacing: 0.5px;
}

.acc-img-set figcaption span {
	display: block;
	width: 100%;
	letter-spacing: 1px;
	color: #757575;
}

.acc-img-set .helper {
}

.acc-img-set .fa.fa-question-circle {
	color: #757575;
}

.acc-img-set .btn {
	margin-top: 7px;
	/* width: 115px; */
	font-size: 11px;
	margin-bottom: 6px;
}

.btn-grey{
	background: #555 linear-gradient(#a6a6a6, #6e6f6f);
	border: 1px solid #929393;
	border-bottom: 2px solid #616161;
}

.btn-grey:hover{
	background-color: #6e6f6f !important;
	border: 1px solid #929393;
	border-bottom: 2px solid #616161;
}

.acc-img-set .btnew {
	width: 49%;
	background: #38a538 linear-gradient(#38a538, #297f2a);
	border: 1px solid #3e8f3e;
	border-bottom: 2px solid #346a34;
	box-shadow: inset 0 -1px 0 #3e8f3e;
}

.acc-img-set .btnew:last-of-type {
	float: right;
	/* width: 130px; */
}

.acc-img-set .btnew.disabled {
	background: #555 linear-gradient(#a6a6a6, #6e6f6f);
	border: 1px solid #929393;
	border-bottom: 2px solid #616161;
	box-shadow: inset 0 -1px 0 #929393;
	opacity: 1;
}

.acc-subscr-set {
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 1px solid #dadada;
}

.acc-subscr-set dt,
.acc-subscr-set dd {
	margin-bottom: 15px;
	white-space: nowrap;
}

.acc-subscr-set dt {
	float: left;
	clear: left;
}

.acc-subscr-set dd {
	float: right;
	padding-right: 5px;
}

.acc-subscr-set .fa {
	width: 27px;
	color: #a9a9a7;
	float: left;
}

.acc-subscr-set .red-inner,
.acc-subscr-set .red-inner > *:not(.fa) {
	color: #cf0000;
	font-family: HelveticaNeueCyr-Bold;
}

.acc-subscr-set .red-inner .fa {
	color: #cf0000;
}

.acc-tog-set {
	overflow: hidden;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dadada;
}

.acc-tog-set .toggle,
.acc-tog-set .checkbox{
	margin-right: 7px;
}

.wrap-tog-item > div > div:first-of-type{
	margin-bottom: 20px;
}

.wrap-tog-item .form-group{
	margin-bottom: 0;
}
.wrap-tog-item:last-of-type > div > div:first-of-type{
	margin-bottom: 10px;
}
.wrap-tog-item .checkbox{
	margin: 2px 0 0;
}
.wrap-tog-item .checkbox [type="checkbox"]{
	width: 20px;
	height: 20px;
	margin: 0 0 0 -25px;
}

.acc-tog-set dt,
.acc-tog-set dd {
	margin-bottom: 17px;
	white-space: nowrap;
}

.acc-tog-set-reset {
	margin-bottom: 0;
}

.acc-tog-set dt {
	float: left;
	clear: left;
}

.acc-tog-set dd {
	float: right;
	line-height: 26px;
	padding-right: 7px;
}

.acc-tog-set .fa {
	margin-top: -10px;
	font-size: 18px;
	color: white;
	vertical-align: middle;
}

.acc-tog-set .form-group {
}

.acc-tog-set .acc-timer-reset {
	float: left;
	width: 100%;
	font-size: 11px;
	color: #909090;
	text-decoration: underline;
}

.acc-act-set {
	display: block;
}

.acc-act-set figure {
	padding: 0 0 0 5px;
}

.acc-act-set figure:first-of-type {
	padding: 0;
}

.acc-act-set figcaption {
	display: table-cell;
	/*width: 85px;*/
	width:115px;
	height: 40px;
	font-size: 14px;
	line-height: 17px;
	font-family: HelveticaNeueCyr-Medium;
	text-align: center;
	vertical-align: middle;
}

.acc-act-set .fa {
	display: block;
	margin: 5px 0;
	text-align: center;
	font-size: 24px;
	color: #a1a19f;
}

.acc-act-set .fa.fa-question-circle {
	font-size: 17px;
}

.acc-act-set .helper {
	position: absolute;
	top: -15px;
	right: 0;
}

.acc-act-set .helper:hover {
	text-decoration: none;
}

.acc-act-set .btn {
	height: 35px;
	padding: 0;
	line-height: 33px;
	box-sizing: border-box;
	letter-spacing: .5px;
}

.acc-act-set .btn-group {
	width: 100%;
}

.acc-act-set .dropdown-toggle {
}

.acc-act-set .dropdown-toggle .fa {
	margin-top: 0;
	font-size: 18px;
	position: absolute;
	top: 50%;
	right: 5px;
}

.acc-act-set .btn-default {
}

.acc-act-set .dropdown-menu {
}

.acc-act-set {
	display: flex;
	justify-content: space-around;
}

.acc-act-set > figure {
	position: relative;
}


.acc-act-set .btn-white {
	padding-left: 10px;
	font: 14px/33px HelveticaNeueCyr-Light;
	text-align: left;
	background: white;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.acc-act-set .btn-gray {
	background: #a1a19f;
	color: white;
	font: 14px/33px HelveticaNeueCyr-Light;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.acc-img-set .btn-gray {
	border: none;
	background: #a1a19f;
	color: white;
	font: 12px/14px HelveticaNeueCyr-Light;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.acc-img-set .btn-gray:hover {
	background: #B9B9B9;
}

.timer-dropdown {
	height: 200px;
	overflow-y: scroll;
}

.acc-pane-inside {
	border-radius: 10px;
	/*box-shadow: inset 0 0 1px #555;*/
	border: 1px solid #9f9f9f;
	background-color: #F7F7F7;
	background-clip: padding-box;
	position: relative;
	height: 152px;
}

.inside-acc-img-set {
	float: left;
	/* width: 205px; */
	height: 150px;
	padding: 15px 15px 15px 15px;
	margin-left: -15px;
	border-right: 1px solid #9f9f9f;
}
.inside-acc-img-set figure {
	padding: 0 0 0 5px;
}

.inside-acc-img-set strong {
	font-weight: bold;
}

.inside-acc-img-set .acc-ava {
	float: none;
	display: block;
	margin: 5px auto;
	width: 80px;
	height: 80px;
}

.inside-acc-img-set .acc-forgot-pass {
	float: none;
}

.inside-acc-subscr-set {
	/* width: 265px; */
	height: 150px;
	border-right: 1px solid #9f9f9f;
	float: left;
	padding: 15px;
	color: #a7a7a5;
}

.inside-acc-subscr-set .red-inner {
	color: #ff5151;
}
.inside-acc-subscr-set dt {
	float: left;
	clear: left;
}

.inside-acc-subscr-set dd {
	float: right;
	clear: right;
	font-weight: bold;
}
.inside-acc-subscr-set dt,
.inside-acc-subscr-set dd {
	margin-bottom: 16px;
	font-size: 14px;
}

.acc-pane-inside .acc-act-set {
	/* width: 432px; */
	/* float: right; */
	padding: 18px 15px;
}

.acc-pane-inside .acc-act-set .col-md-3 {
	padding: 8px 10px 0 10px;
}

.acc-pane-inside .col-md-3 figcaption {
	color: #757575;
	font-size: 14px;
	font-weight: normal;
	height: 40px;
}

.acc-pane-inside .acc-act-set .helper {
	position: absolute;
	top: -5px;
	right: 0;
}

.acc-pane-inside .acc-act-set .fa {
	font-size: 20px;
}

.acc-pane-inside .acc-act-set .helper .fa {
	font-size: 16px;
}

.acc-pane-inside .btn-danger {
	filter: none;
	background: #ff5151 none;
	border-color: #ff5151;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.acc-pane-inside .acc-act-set .btn {
	height: 35px;
	line-height: 34px;
	margin-top: 6px;
}

.content-title {
	font-size: 20px;
	font-weight: bold;
	color: #404040;
	margin: 30px 0 20px 0;
}

.instagram-media-row {
	padding-bottom: 25px;
}

.instagram-photo {
	padding: 15px;
	background: #f8f8f8;
	border: 1px solid #e9e9e9;
	color: #00bf51;
	margin-bottom: 30px;
}

.instagram-photo:hover {
	background: #00bf51;
	border: 1px solid #00a446;
	color: #ffffff;
}

.instagram-photo .instagram-photo-footer {
	padding: 15px 0;
	font: 14px HelveticaNeueCyr-Medium;
}

.instagram-photo .instagram-photo-footer strong {
	font: 14px HelveticaNeueCyr-Bold;
}

.last-comment {
	text-align: left;
	color: #333333;
	clear: both;
	margin-top: 20px;
	font-size: 14px;
}

.instagram-photo:hover .last-comment {
	color: #ffffff;
}

#upload-image-alert {
	margin: 20px 50px 0 50px;
}

.show-more-media {
	color: #ffffff;
	background: #00bf51;
	font: 20px HelveticaNeueCyr-Light;
	padding: 20px;
	margin-top: 40px;
}

.show-more-media:focus,
.show-more-media:hover {
	color: #ffffff;
	background: #00a446;
}

.instagram-media-modal .modal-content {
	width: 1080px;
	height: 595px;
	max-height: 595px;
	margin-left: -240px;
	border-radius: 0;
	border: 1px solid #00bf51;
}

.instagram-media-modal .modal-content.modal-video {
	height: auto;
}

.modal-content .close {
	color: #FF6666;
	border: 1px solid #FF6666;
	z-index: 1100;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	opacity: 1;
	position: absolute;
	right: -10px;
	top: -10px;
	background: #fff;
}

.instagram-media-modal .modal-content .col-md-5 {
	padding-left: 0;
	padding-right: 30px;
}

.instagram-media-modal .btn-success {
	filter: none;
	background: #00bf51 none;
	border-color: #00bf51;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: block;
	margin: 0 auto;
}

.btn-send-comment {
	margin-top: 20px !important;
}

.instagram-content-modal-video {
	width: 593px;
	height: auto;
	margin: -15px;
}

.instagram-content-modal-image {
	margin: -15px;
	height: 593px;
}

.btn-success:focus, .btn-success:hover {
	background: #419641;
}

#photo-upload .modal-content {
	width: 540px;
	min-height: 740px;
	border-radius: 0;
	border: 1px solid #00bf51;
}

#photo-upload .loading-send {
	margin: 20px;
}

#photo-upload h2 {
	font: 20px HelveticaNeueCyr-Medium;
	color: #3a3a3a;
	margin-bottom: 15px;
}

#photo-upload #image-upload-input {
	min-height: 78px;
	margin: 0 50px;
	width: 410px;
}

#photo-upload .btn-success {
	filter: none;
	background: #00bf51 none;
	border-color: #00bf51;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: block;
	margin: 20px auto 0;
	padding: 10px 20px;
}

#photo-upload .upload-description {
	padding: 0 50px;
	font: 14px HelveticaNeueCyr-Medium;
	color: #3a3a3a;
}

#photo-upload .upload-description p {
	margin-bottom: 20px;
}

#photo-upload .upload-panel {
	margin-top: 20px;
}

#photo-upload .cropit-image-preview {
	background: #f8f8f8 url(../img/no_image_available.png);
	background-size: cover;
	border: 1px solid #464646;
	margin-top: 7px;
	width: 285px;
	height: 285px;
	cursor: move;
}

#photo-upload .upload-image-wrapper {
	margin: 60px 60px 60px 110px;
}

#photo-upload .cropit-image-background {
	opacity: .3;
	cursor: auto;
}

#photo-upload .upload-image-wrapper {
	margin: 60px 60px 60px 110px;
}

#photo-upload input[type=range].cropit-image-zoom-input {
	-webkit-appearance: none;
	width: 100%;
	margin: 11px 0;
	padding-bottom: 10px;
}
#photo-upload input[type=range].cropit-image-zoom-input:focus {
	outline: none;
}
#photo-upload input[type=range].cropit-image-zoom-input::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	box-shadow: 0 0 0 #ffb2df, 0 0 0 #ffccea;
	background: #00bf51;
	border-radius: 25px;
	border: 2.3px solid #00bf51;
}
#photo-upload input[type=range].cropit-image-zoom-input::-webkit-slider-thumb {
	box-shadow: 2px 2px 2px #e1e1e1, 0 0 2px #eeeeee;
	border: 1px solid #e1e1e1;
	height: 25px;
	width: 25px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -13.3px;
}
#photo-upload input[type=range].cropit-image-zoom-input:focus::-webkit-slider-runnable-track {
	background: #35ff8b;
}
#photo-upload input[type=range].cropit-image-zoom-input::-moz-range-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	box-shadow: 0 0 0 #ffb2df, 0 0 0 #ffccea;
	background: #00bf51;
	border-radius: 25px;
	border: 2.3px solid #00bf51;
}
#photo-upload input[type=range].cropit-image-zoom-input::-moz-range-thumb {
	box-shadow: 2px 2px 2px #e1e1e1, 0 0 2px #eeeeee;
	border: 1px solid #e1e1e1;
	height: 25px;
	width: 25px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
}
#photo-upload input[type=range].cropit-image-zoom-input::-ms-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
#photo-upload input[type=range].cropit-image-zoom-input::-ms-fill-lower {
	background: #004a1f;
	border: 2.3px solid #00bf51;
	border-radius: 50px;
	box-shadow: 0 0 0 #ffb2df, 0 0 0 #ffccea;
}
#photo-upload input[type=range].cropit-image-zoom-input::-ms-fill-upper {
	background: #00bf51;
	border: 2.3px solid #00bf51;
	border-radius: 50px;
	box-shadow: 0 0 0 #ffb2df, 0 0 0 #ffccea;
}
#photo-upload input[type=range].cropit-image-zoom-input::-ms-thumb {
	box-shadow: 2px 2px 2px #e1e1e1, 0 0 2px #eeeeee;
	border: 1px solid #e1e1e1;
	width: 25px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	height: 3px;
}
#photo-upload input[type=range].cropit-image-zoom-input:focus::-ms-fill-lower {
	background: #00bf51;
}
#photo-upload input[type=range].cropit-image-zoom-input:focus::-ms-fill-upper {
	background: #35ff8b;
}


#photo-upload input[type=range].upload-image-wrapper::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
#photo-upload input[type=range].upload-image-wrapper::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}
#photo-upload input[type=range].upload-image-wrapper::-webkit-scrollbar-thumb {
	background: #cfcfcf;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 50px;
}
#photo-upload input[type=range].upload-image-wrapper::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}
#photo-upload input[type=range].upload-image-wrapper::-webkit-scrollbar-thumb:active {
	background: #454545;
}
#photo-upload input[type=range].upload-image-wrapper::-webkit-scrollbar-track {
	background: #efefef;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 50px;
}
#photo-upload input[type=range].upload-image-wrapper::-webkit-scrollbar-track:hover {
	background: #cfcfcf;
}
#photo-upload input[type=range].upload-image-wrapper::-webkit-scrollbar-track:active {
	background: #c6c6c6;
}
#photo-upload input[type=range].upload-image-wrapper::-webkit-scrollbar-corner {
	background: transparent;
}

#photo-upload-new .loading-send {
	margin: 20px;
}

#photo-upload-new #upload-image-img {
	border: 1px solid #464646;
	margin-top: 7px;
}

#photo-upload-new  .modal-content {
	width: 540px;
	min-height: 740px;
	border-radius: 0;
	border: 1px solid #00bf51;
}

#photo-upload-new h2 {
	font: 20px HelveticaNeueCyr-Medium;
	color: #3a3a3a;
	margin-bottom: 15px;
}

#photo-upload-new #image-upload-input {
	min-height: 78px;
	margin: 0 50px;
	width: 410px;
}

#photo-upload-new #image-zoom-slider{
	background: #00bf51;
	border-radius: 25px;
	border: 2.3px solid #00bf51;
	height: 3px;
	box-shadow: 0 0 0 #ffb2df, 0 0 0 #ffccea;
	margin: 21px 0;
}

#photo-upload-new #image-zoom-slider .ui-slider-handle{
	box-shadow: 2px 2px 2px #e1e1e1, 0 0 2px #eeeeee;
	border: 1px solid #e1e1e1;
	height: 25px;
	width: 25px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9.5px;
	outline: none;
}

#photo-upload-new .btn-success {
	filter: none;
	background: #00bf51 none;
	border-color: #00bf51;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: block;
	margin: 20px auto 0;
	padding: 10px 20px;
}

#photo-upload-new .upload-description {
	padding: 0 50px;
	font: 14px HelveticaNeueCyr-Medium;
	color: #3a3a3a;
}

#photo-upload-new .cropit-image-zoom-input {
	-webkit-appearance: none;
	width: 100%;
	margin: 11px 0;
	padding-bottom: 10px;
}
#photo-upload-new .cropit-image-zoom-input:focus {
	outline: none;
}

#photo-upload-new .upload-description p {
	margin-bottom: 20px;
}

#photo-upload-new .upload-panel {
	margin-top: 20px;
}

#photo-upload-new #upload-image-img {
	border: 1px solid #464646;
	margin-top: 7px;
}

#photo-upload-new .upload-image-wrapper {
	margin: 10px 10px 10px 75px;
	width: 375px;
	height: 375px;
	overflow: auto;
}

#photo-upload-new #imageError {
	margin: 0 50px;
	height: 20px;
	line-height: 30px;
	font-size: 14px;
	color: #CF0000;
}

#photo-upload-new .jcrop-holder > div > div > .jcrop-tracker {
	background: linear-gradient(rgba(217, 217, 217, 0.7), transparent 2.5px), linear-gradient(90deg, rgba(217, 217, 217, 0.7), transparent 2.5px);
	background-size: 33.34% 33.34%;
	background-position: center center;
	border: 1px solid black;
}

#photo-upload-new #image-upload-input::-webkit-input-placeholder { text-align: center; }
#photo-upload-new #image-upload-input:-moz-placeholder { text-align: center; } /* FF 4-18 */
#photo-upload-new #image-upload-input::-moz-placeholder { text-align: center; } /* FF 19+ */
#photo-upload-new #image-upload-input:-ms-input-placeholder { text-align: center; } /* IE 10+ */


.acc-pane .btn-danger {
	background: #FF5151;
	border-color: #FF5151;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.acc-pane-inside .projectStart,
.acc-pane .projectStart {
	background: #00BF51;
	border-color: #00BF51;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.acc-pane .toggle-group .toggle-handle.btn-default {
	background: #ffffff;
}

.btn-success.btn.bot-bor {
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.instagram-photo-header {
	height: 30px;
	line-height: 25px;
	font-size: 14px;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 10px;
	color: #00BF51;
}

.instagram-photo-title {
	/*margin-bottom: 10px;*/
	font-size: 12px;
	line-height: 15px;
	border-bottom: 1px solid #f2f3f1;
	padding-bottom: 10px;
}

.instagram-photo-header strong {
	font-weight: bold;
}

.comment-user {
	text-align: center;
	font-size: 12px;
}

.comment-text {
	font-size: 14px;
}

.timerButton.btn.disabled, .timerButton.btn[disabled] {
	pointer-events: auto;
	cursor: default;
}

.change-password-title {
	margin: 0 0 20px;
	font-size: 26px !important;
	color: #ff6666;
}

#changeAccountForm input {
	width: 370px;
	height: 54px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.428571429;
	color: #555555;
	background: #ffffff none;
	border: 2px solid #ff6666;
	border-radius: 0;
	margin-top: 20px;
}

#changeAccountForm button {
	color: #ffffff;
	background-color: #ff6666;
	width: 100%;
	max-width: 400px;
	height: 65px;
	border: none #ff4c4c;
	border-radius: 0;
	text-transform: uppercase;
	font: 18px HelveticaNeueCyr-Bold;
}

.instagram-media-modal .prev,
.instagram-media-modal .next {
	position: absolute;
	font-size: 40px;
	color: #fff;
	opacity: 0.5;
	top: 50%;
	margin-top: -20px;
}

.instagram-media-modal .prev {
	left: -40px;
}

.instagram-media-modal .next {
	right: -40px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.read-message {
	position: absolute;
	left: 5px;
	top: 7px;
}

.modal-comment-input {
	padding: 6px 30px 6px 12px;
	height: 60px;
	overflow-x: auto;
	font-family: HelveticaNeueCyr-Light, 'Segoe UI Symbol';
	font-size: 16px;
}

.emoji-button {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #00BF51;
	color: #fff;
	padding: 5px;
	border-radius: 0 4px 0 4px;
	cursor: pointer;
}
.emoji-button:hover {
	background-color: #419641;
}

.emoji-widget {
	display: none;
	background-color: #FFF;
	border: 1px solid #E1E1E1;
	border-radius: 3px;
	width: 285px;
	height: 100px;
	overflow-x: auto;
	padding: 5px;
	position: absolute;
	right: 30px;
	bottom: 143px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.emoji-widget::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
.emoji-widget::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}
.emoji-widget::-webkit-scrollbar-thumb {
	background: #cfcfcf;
	border: 0 none #ffffff;
	border-radius: 50px;
}
.emoji-widget::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}
.emoji-widget::-webkit-scrollbar-thumb:active {
	background: #666666;
}
.emoji-widget::-webkit-scrollbar-track {
	background: #efefef;
	border: 0 none #ffffff;
	border-radius: 50px;
}
.emoji-widget::-webkit-scrollbar-track:hover {
	background: #cfcfcf;
}
.emoji-widget::-webkit-scrollbar-track:active {
	background: #c6c6c6;
}
.emoji-widget::-webkit-scrollbar-corner {
	background: transparent;
}

.emoji-widget span {
	cursor: pointer;
	display: inline-block;
	margin: 2px;
}

.new-comments-sup{
	color: #ff5151;
	font-size: 10px;
}

.acc-act-set figcaption span.desk {
	display: block;
}
.acc-act-set figcaption span.mob {
	display: none;
}

.account-controls .btn {
	width: 180px;
}

.regions-list-wrap {
	position: relative;
}

.regions-list-wrap:before,
.regions-list-wrap:after {
	background: linear-gradient(to top, rgba(247, 247, 247, 0), #F7F7F7);
	content: '';
	display: block;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	right: 7px;
}

.regions-list-wrap:after {
	background: linear-gradient(to bottom, rgba(247, 247, 247, 0), #F7F7F7);
	top: inherit;
	bottom: 0;
}

.clearfix.divide {
	border-top: 1px solid #E2E2E1;
	height: 0;
	margin: 10px -10px;
}

.btn-success.active {
	background-color: #419041;
}

.disable {
	/*opacity: 0.5;
	pointer-events: none;*/
}

/* Стили для ресайзера текстового поля Комментарий */
#commentText {
	border: 2px solid #ccc;
	vertical-align: top;
	width: 100%;
	padding: 0;
	height: 0;
	line-height: 26px;
}

.animated {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}

#commentsList {
	margin-top: 10px;
}

.panel.panel-settings {
	background: #F7F7F7;
	border: 1px solid #E2E2E1;
	border-radius: 7px;
}

.panel.panel-settings > .panel-header > .row > div {
	background: #A6A6A4;
	color: #FFF;
	font-size: 16px;
	height: 42px;
	line-height: 42px;
}

.panel.panel-settings > .panel-header > .row > div:first-child {
	background: #00BF51;
	border-top-left-radius: 6px;
	font-weight: bold;
	padding-left: 30px;
	width: 160px;
}

.panel.panel-settings > .panel-header > .row > div:last-child {
	border-top-right-radius: 6px;
	padding: auto 20px auto 50px;
	margin-left: 160px;
	float: inherit;
	width: inherit;
}

.panel.panel-settings > .panel-header .fa {
	line-height: inherit;
	vertical-align: middle;
}

.panel.panel-settings > .panel-body {
	padding: 10px;
}

.panel.panel-sub {
	border: 1px solid #E2E2E1;
	box-shadow: 0 2px 7px 1px rgba(0,0,0,0.2);
	margin-bottom: 0;
	transition-duration: .3s;
}

.panel.panel-sub.disable {
	box-shadow: none;
}

.panel.panel-sub.extended {
	border: 1px solid #E2E2E1;
	/*box-shadow: 0 2px 7px 1px rgba(0,0,0,0.2);*/
	margin-bottom: 0;
	transition-duration: .3s;
}

.panel.panel-sub > .panel-header {
	background: #F7F7F7;
}

.panel.panel-sub > .panel-header > .row > div {
	background: #E1E1E1;
	font-size: 16px;
	height: 42px;
	line-height: 40px;
	transition-duration: .3s;
	white-space: nowrap;
}

.panel.panel-sub > .panel-header > .row > div:first-child {
	background: #00BF51;
	border-top-left-radius: 3px;
	font-weight: bold;
	text-align: center;
}

.panel.panel-sub > .panel-header > .row > div:last-child {
	border-top-right-radius: 3px;
	padding: auto 20px auto 50px;
}

.panel.panel-sub > .panel-header {
	border-bottom: none;
	border-radius: 5px 5px 0 0;
}

.panel.panel-sub.disable > .panel-header {
	color: #A6A6A4;
}

.panel.panel-sub.disable > .panel-header > .row > div:first-child {
	background: #A6A6A4;
}

.panel.panel-sub > .panel-header:last-child > .row > div:first-child {
	border-bottom-left-radius: 3px;
}

.panel.panel-sub > .panel-header:last-child > .row > div:last-child {
	border-bottom-right-radius: 3px;
}

.panel.panel-sub .btn-success {
	background: #00BF51;
}

.panel.panel-sub.disable .btn-success {
	background: #A6A6A4;
	border-color: #999;
}

.panel.panel-sub .option-switch {
	float: left;
	width: 90px;
}

.panel.panel-sub .option-label {
	margin-left: 90px;
	padding: 0 10px;
}

.panel.panel-sub .toggle .fa {
	color: #FFF;
	font-size: 115%;
	vertical-align: top;
}

.panel.panel-sub .fa.description {
	color: #A1A19F;
}

.panel.panel-sub .toggle .fa.fa-slack {
	transform: rotate(18deg);
}

.panel.panel-sub > .panel-header .toggle {
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, .15);
}

.panel.panel-sub > .panel-header .toggle .toggle-handle {
	box-shadow: inset 1px 1px 7px 1px rgba(0, 0, 0, .15);
}

.panel.panel-sub > .panel-body {
	background: #F7F7F7;
}

.panel-sub .panel-items-list {
	height: 238px;
	overflow-y: auto;
	margin-right: -7px;
	padding-right: 7px;
}

.panel-sub .panel-items-list.panel-items-list-short {
	height: 194px;
}

.panel-sub .panel-items-list::-webkit-scrollbar {
	width: 6px;
}

.panel-sub .panel-items-list::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #eee;
}

.panel-sub .panel-items-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #888;
}

.panel-sub .show-all {
	font-size: 14px;
	margin: 5px 0 -5px;
	text-align: right;
}

#actions .panel-body .form-group {
	margin: 5px 0;
}

#actions .panel-body .form-group > * {
	font-size: 14px;
	line-height: 20px;
	vertical-align: top;
}

.panel-body.extended .panel-geo .panel-body {
	height: 738px;
}
.panel-body.extended #search-by-toggler {
	display: none;
}

#geotag-manager {
	display: none;
}
.panel-body.extended #geotag-manager {
	display: block;
}

.toggle.btn-setting-on {
	border-color: #FFF;
}

.toggle.btn-setting-on .toggle-on {
	background: #FFF;
	color: #00BF51;
}

.toggle.btn-setting-on .toggle-handle {
	background: #00BF51;
}

.toggle.btn-setting-on .fa {
	color: #00BF51 !important;
}

.panel-settings .btn-group .btn-success {
	background: #00BF51;
}

.panel-sub-header {
	padding-left: 35px;
}

.error-wrapper {
	margin: 0;
	padding: 0;
	position: relative;
}

.error-wrapper .error {
	background-color: #FFEEEE;
	border: 1px solid #FF433C;
	border-radius: 3px;
	color: #D43F3A;
	display: none;
	padding: 5px 10px;
	position: absolute;
	top: 3px;
	left: 0;
	right: 0;
	z-index: 2000;
}

.balloon {
	padding: 6px 70px 6px 15px;
	cursor: default;
}

.balloon * {
	line-height: 20px;
}

.balloon.balloon-float {
	float: left;
	margin: 0 10px 10px 0;
	padding-right: 35px;
	width: inherit;
	cursor: pointer;
}

.balloon .button-holder {
	top: 0;
}

.balloon.removed {
	color: #DDD;
}

#geotags-modal .modal-dialog {
	min-width: 90%;
}

.geotags-container {
	min-height: 200px;
}

.field-option-use-geotags {
	font-size: 14px;
	margin: 5px 0 0;
}

.geotags-column, .geotags-map {
	height: 580px; /*calc(100vh - 250px);*/
}

.geotags-map {
	border: 1px solid #ccc;
	border-radius: 4px;
}

.geotags-column {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	position: relative;
}

.geotags-column .progress {
	position: absolute;
	height: 10px;
	margin-top: 10px;
	left: 10px;
	right: 10px;
	z-index: 10;
}

.geotags-column .balloon {
	/*background: #58BA63;*/
	background: #fff;
	color: #000;
	cursor: pointer;
}

.geotags-column .balloon .glyphicon-map-marker {
	color: #58BA63;
}

.geotags-column .balloon .glyphicon-screenshot {
	color: #ff5151;
	font-size: 18px;
	opacity: 1;
}

.geotags-column .balloon.removed {
	/*background: #A6A6A4;*/
	background: #fff;
	opacity: 0.5;
}

.geotags-autocomplete-holder {
	position: relative;
}

.geotags-autocomplete {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10001;
	max-height: 530px;
	overflow-y: auto;
	margin-right: -6px;
}
.geotags-autocomplete::-webkit-scrollbar {
	width: 6px;
}

.geotags-autocomplete::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #eee;
}

.geotags-autocomplete::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #888;
}

.geotags-autocomplete .list-group {
	margin: 0;
}

.geotags-items-list {
	margin: 15px -6px 0 -10px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 510px;
}
.geotags-items-list::-webkit-scrollbar {
	width: 6px;
}

.geotags-items-list::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #eee;
}

.geotags-items-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #888;
}

.geotag-map-controls-holder {
	position: absolute;
	z-index: 1;
}

.geotag-map-controls {
	position: relative;
	left: 10px;
	top: 10px;
}

.geotag-map-controls .geotag-map-control {
	border: 1px solid #AAA;
	font-size: 22px;
	line-height: 22px;
	padding: 3px 3px 1px 4px;
	background: #00B54C;
	color: #EEE;
}

.balloon .geotag-title, .geotags-autocomplete-holder .geotag-title{
	font-size: 100%;
	font-weight: bold;
}

.balloon .geotag-subtitle, .geotags-autocomplete-holder .geotag-subtitle{
	/*font-style: italic;*/
	font-size: 85%;
}
.geotags-autocomplete-holder .list-group-item{
	cursor: pointer;
}
.geotags-autocomplete-holder .geotag-subtitle{
	margin-top: 3px;
	line-height: 15px;
}

.geotags-autocomplete-holder .glyphicon-ok{
	/*padding-top:0px;*/
	color: #DDD;
}
.geotags-autocomplete-holder .geotags-autocomplete-checked .glyphicon-ok{
	color:#00BF51;
}
.geotags-autocomplete-holder .geotags-autocomplete-checked{
	color:#00BF51;
}

.panel-header .pull-left {
	margin-right: 5px;
}

#settings-modal .modal-content {
	border-radius: 0;
	padding: 0 15px;
}

#settings-modal .modal-title {
	text-align: center;
	color: #ff6666;
	margin-bottom: 15px;
	padding-top: 10px;
	margin-top: 3px;
	font: 24px HelveticaNeueCyr-Bold;
	text-transform: uppercase;
}

#settings-modal .modal-inner-html {
	min-height: 200px;
	max-height: calc(100vh - 150px);
	overflow-x: hidden;
	overflow-y: auto;
}

#settings-modal .modal-inner-html::-webkit-scrollbar {
	width: 6px;
}

#settings-modal .modal-inner-html::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #eee;
}

#settings-modal .modal-inner-html::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #888;
}

.simple-tree-view {
	font-size: 12pt;
	list-style: none;
	padding: 0;
}

.simple-tree-view ul {
	list-style: none;
	padding-left: 30px;
}

.simple-tree-view > ul {
	padding-left: 0;
}

.simple-tree-view li {
	padding: 4px 10px;
	border-radius: 3px;
}

.simple-tree-view div {
	display: none;
}

.simple-tree-view div.open {
	display: inherit;
}

.simple-tree-view li:hover {
	background: rgba(76, 175, 80, .15);
}

.simple-tree-view li a.toggler i {
	transition-duration: .2s;
}

.simple-tree-view li a.toggler.open i {
	transform: rotate(90deg);
}

.simple-tree-view a {
	color: #00BF51;
	cursor: pointer;
	float: left;
}

.simple-tree-view label {
	display: block;
	margin-left: 10px;
	margin-bottom: 0;
	overflow: hidden;
	white-space: nowrap;
}

.simple-tree-view a + label {
	margin-left: 20px;
}

.modal-body .popover {
	z-index: 2000;
}

.geo-map-block {
	padding-right: 5px;
}

.geo-list-tags-right {
	padding: 0 7px 0 0;
}

.geotags-additional-search {
}

.geotags-additional-tags {
	margin-top: 5px;
}

.additional-tags .balloon{
	min-height: 60px;
	width: auto;
	margin-right: 10px;
}

.places-panel {
	height: 50px;
}

.panel-body.extended .panel-sub .panel-items-list {
	height: 75px !important;
	margin-bottom: 10px;
}

.places-panel {
	height: 80px;
}

.panel-body.extended #geotargeting-selector {
	display: none;
}

.panel-body.extended .balloon-active {
	background: #00BF51;
	color:#fff;
}

.panel-body.extended .balloon-active .glyphicon-trash {
	color:#fff;
}

.panel-body.extended .panel-geo .show-all {
	display: none;
}

.panel-body.extended .panel-competitors {
	margin-top: 20px;
}

.active .mysocicons{
	position: relative;
	bottom: 10px;
	left: 2px;
}

footer .mysocicons{
	margin-left: -20px;
	padding-top:45px;
}

footer .site-service {
	position: relative;
	cursor: pointer;
	padding-right: 14px;
	font: 16px HelveticaNeueCyr-Roman;
	color: #000000;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

footer .site-service .service-dropdown {
	position: absolute;
	left: -10px;
	right: 0;
	bottom: 100%;
	display: none;
	min-width: 250px;
	text-align: left;
	padding-bottom: 5px;
}

footer .site-service:hover .service-dropdown {
	display: block;
}

footer .site-service .service-dropdown a {
	display: block;
	padding: 5px 10px;
	text-align: left;
	background-color: #fff;
}

footer .site-service .service-dropdown a:hover {
	background: #00BF51;
	color: #fff;
}

.active .mysocicons a{
	float:left;
}
.active .mysocicons img{
	width:20px;
	margin-right:3px;
	padding-top:10px;
}

.anim-ico {
	-webkit-animation: blink 0.7s linear infinite;
	animation: blink 0.7s linear infinite;
	transform: translateZ(0);
}
@-webkit-keyframes blink {
	50% { color: rgb(255, 81, 81); }
	51% { color: rgba(255, 81, 81, 0); }
	100% { color: rgba(255, 81, 81, 0); }
}
@keyframes blink {
	50% { color: rgb(255, 81, 81); }
	51% { color: rgba(255, 81, 81, 0); }
	100% { color: rgba(255, 81, 81, 0); }
}

/* Лэндинг управляющие слайдером элементы*/
#bx-pager .active p{
	color:#FF5151;
	text-decoration: underline;
}
.acc-act-set .col-md-3.a_action{
	padding-left:0 !important;
	padding-right:0 !important;
}
.acc-act-set .col-md-3.a_speed{
	padding-left:20px;
}

.price-text{
	margin-left:105px;
}

/* Main styles end */

/********************************************************

    N - MEDIA QUERIES
    // MUST BE ALWAYS AFTER OF THE MAIN STYLES

**********************************************************/
@media (max-width: 1200px) {
	.header .user-name button{
		text-indent: -9999px;
		background-color: transparent;
	}
	.header .logo a{
		display: block;
		margin-top: 10px;
		font-size: 22px;
		white-space: nowrap;
	}
	.auth-reg-panel a{
		font-size: 14px;
	}
	.inside-acc-subscr-set dt, .inside-acc-subscr-set dd{
		font-size: 13px;
	}
	.price-text{
		margin-left:5px;
	}
}

@media (max-width: 767px){
	.modal-dialog {
		max-width: inherit;
	}

	/* Header */
	.header{
		min-height: 40px;
		margin: 0;
		padding: 5px 15px 0;

		border-bottom: 0;
	}

	.header nav {
		margin-bottom: 15px;
	}

	.header .nav-top a {
		display: block;
		padding: 15px 50px;
		font-size: 20px;
		text-align: left;
		color: #333;
		border-bottom: 1px dashed rgba(255, 81, 81, .1);
	}
	.header .nav-top a:last-of-type {
		border-bottom: 0;
	}

	.header .nav-top a:hover {
		color: white;
		background-color: #ff5151;
	}

	.header .nav-top.active {
		display: block !important;
		margin: 0;
		padding: 0;
		background-color: #F5F5F5;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;
		box-shadow: 0 3px 10px silver;
	}

	.footer .header .nav-top.active{
		top: initial;
		bottom: 100%;
	}

	.header .logo{}
	.header .logo a{
		margin-top: 0;
		font-size: 20px;
		line-height: 30px;
	}
	.header .logo img{
		width: 32px;
		margin: -5px 5px 0 15px;
	}

	.header .user-name {
		padding: 0 35px 0 0;
		text-align: center;
	}
	.header .auth-reg-panel {
		margin-top: 8px;
	}
	.header .auth-reg-panel a{
		padding: 0;
	}
	.header .auth-reg-panel .sign-in{
		padding-left: 7px;
	}

	.header .user-name button,
	.header .user-name button.open {
		background-position-x: 50% !important;
		max-width: 40px;
	}

	.sub-header{
		min-height: initial;
	}

	.footer{
		margin-top: 20px;
		border: 0;
	}

	.start-all {
		margin-bottom: 10px;
	}

	.user-balance .counter-item {
		margin: 5px 0;
	}

	.user-balance .counter-item output {
		font-size: 22px;
		padding: 3px;
	}

	.minutes-last {
		/* float: right; */
		/* margin-right: 35%; */
	}

	.hours-last {
		/* float: right; */
	}

	.buy-packets button {
		margin-bottom: 10px;
	}

	.table-cont thead figcaption {
		font-size: 10px;
		margin: 0 6px;
	}

	.instagram-photo .instagram-photo-footer {
		padding: 15px 0 0 0;
		line-height: 25px;
	}

	.landing{
		background: url("../img/landing/main-block/bg_top.png") center top no-repeat;
		background-size: contain;
		padding-top: 10px;
		margin-top: 0;
	}
	.landing h1 {
		margin: 0 0 10px 0;
		font-size: 22px;
		line-height: 26px;
	}
	.landing h2 {
		margin-bottom: 35px;
		padding-bottom: 12px;
		font-size: 26px;
		background: url(../img/landing/advantages/header_lines.png) -80px bottom repeat-x;
		background-size: 300px;
	}
	.landing .land-main-block {
		margin-bottom: 35px;
		min-height: inherit;
		text-align: center;
	}
	.landing .btn {
		height: 30px;
		margin: 0 auto 5px;
		padding: 5px 20px;
		font-size: 17px;
	}
	.landing .land-main-block p {
		font-size: 16px;
		line-height: 19px;
		margin: 0 0 20px 0;
	}
	.landing .land-main-block .log-in {
		font-size: 16px;
		margin-top: 0;
	}
	.landing .land-note img {
		max-width: 320px;
	}
	.landing .land-note .btn {
		width: 110px;
		/*height: 30px;*/
		/* margin: -22px 0 0 -55px; */
		padding: 5px 10px;
		font-size: 15px;
	}
	.land-main-block-text p{
		text-shadow: 1px 1px 2px #000;
	}
	.land-main-block-text p a{
		color:#fff;
		text-decoration: underline;
	}
	.landing .advantages {
		margin-bottom: -10px;
	}
	.landing .advantages-item {
		margin-bottom: 35px;
		min-height: inherit;
	}
	.landing .advantages-item img {
		width: 60%;
		max-width: 320px;
		margin-bottom: 15px;
	}
	.landing .advantages-item figcaption {
		margin-bottom: 15px;
		font-size: 20px;
	}
	.landing .advantages-item p {
		font-size: 20px;
		line-height: 24px;
	}

	.landing .about-us {
		background: none;
		margin-bottom: 30px;
		min-height: inherit;
	}

	.landing .preim .item {
		background: url('../img/landing/romb.png') no-repeat top center;
		width: 100px;
		min-height: 107px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		margin: 0px 17px 17px 17px;
		font-family: "HelveticaNeueCyr-Light";
		color: #000;
		font-size: 18px;
		text-decoration: none;
		background-size: contain;
	}
	.landing .preim .item i {
		color: #fff;
		font-size: 52px;
		line-height: 90px;
	}

	.landing .about-us h2 {
		margin-bottom: 25px;
		background: url(../img/landing/about-us/header_lines.png) left bottom repeat-x;
		background-size: 600px;
	}
	.landing .about-us p {
		padding: 0;
		font-size: 18px;
		line-height: 21px;
		text-align: left;
	}
	.landing .about-us p:first-of-type {
		margin-bottom: 25px;
	}

	.landing .screenshots {
		background: url(../img/landing/screenshots/bg_left.png) -30px 520px no-repeat, url(../img/landing/screenshots/bg_right_mob.png) right 110px no-repeat;
		background-size: 80px, 40px;
		margin-bottom: 30px;
		min-height: inherit;
	}
	.landing .screenshots h2 {
		margin-bottom: 0;
		padding: 0 0 40px;
		background: url(../img/landing/screenshots/header_lines.png) center bottom no-repeat;
		background-size: 100% 50px;
	}
	.landing .screenshots img {
		width: 75%;
		max-width: 350px;
	}

	.landing .how-work {
		background: none;
	}
	.landing .how-work h2 {
		background: none;
		margin-bottom: 80px;
		padding: 0 0 12px;
	}
	.landing .how-item {
		padding-bottom: 35px;
		border-right: 1px solid #50D388;
		position: relative;
		text-align: center;
	}
	.landing .how-item img {
		display: block;
		margin: 0 auto 20px;
		padding: 0 15px;
		width: 90%;
		max-width: 380px;
	}
	.landing .how-item figcaption {
		margin-bottom: 10px;
		font: 18px/24px HelveticaNeueCyr-Bold;
		color: #FF5151;
	}
	.landing .how-item p {
		font-size: 18px;
		line-height: 22px;
		padding: 0;
		text-align: center;
	}
	.landing .price table tr th{
		font-size: 16px;
	}
	.landing .price table tr td a{
		font-size: 13px;
	}
	.table-responsive{
		border: none;
	}
	.landing .how-item:before {
		content: '';
		width: 25px;
		height: 45px;
		position: absolute;
		right: -12px;
		top: 35%;
		background-size: contain;
		z-index: 111;
	}
	.landing .how-item:nth-of-type(3) {
		margin-bottom: 65px;
		padding-bottom: 0;
	}
	.landing .how-item:last-of-type:after {
		content: '';
		width: 100%;
		height: 60px;
		position: absolute;
		right: 0;
		bottom: -58px;
		background: url(../img/landing/how-work/footer_line_arrow.png) right top no-repeat;
	}

	.landing .how-item:nth-of-type(2){
		margin: -100px 0 0 0 !important;
		border-right: 1px solid #50D388 !important;
		border-left: 0  !important;
	}
	.landing .how-item:nth-of-type(2):before{
		left: initial !important;
	}
	.landing .how-item:nth-of-type(2) figcaption, .landing .how-item:nth-of-type(2) p{
		margin-left: 0 !important;
	}
	.landing .how-work .btn {
		clear: both;
		display: inline-block;
		height: 45px;
		margin: 0 auto 30px;
		padding: 7px 50px;
		font-size: 21px;
	}

	.landing .feedback {
		background: url(../img/landing/screenshots/bg_left.png) left 125px no-repeat, url(../img/landing/screenshots/bg_right_mob.png) right bottom no-repeat;
		background-size: 40px;
		min-height: inherit;
	}
	.landing .feedback h2 {
		background: url(../img/landing/feedback/header_lines.png) right center no-repeat;
		background-size: 80px 35px;
		padding: 0 0 12px;
		margin-bottom: 0;
	}
	.landing .feedback blockquote {
		margin-bottom: 30px;
		padding: 0 25px;
		font-size: 18px;
		line-height: 22px;
		text-align: left;
	}
	.landing .feedback .mtm50 {
		margin-top: 0;
	}
	.landing .feedback blockquote:before,
	.landing .feedback blockquote:after {
		font-size: 38px;
	}
	.landing .feedback blockquote:before {
		margin-right: 5px;
	}
	.landing .feedback blockquote:after {
		margin-left: 5px;
	}

	.va-bottom, .va-center {
		display: block;
		float: left;
	}

	.sub-header .btn-cont, .sub-header .counter{
		padding-top: 20px;
	}
	.sub-header .btn{
		font-size: 18px;
		line-height: 18px;
		white-space: normal;
	}
	.acc-pane:nth-of-type(3n+1){
		left: 0;
	}
	.acc-img-set{}
	.acc-img-set figcaption{}
	.acc-img-set figcaption b{}
	.acc-img-set figcaption span{}
	.acc-ava{
		width: 50px;
		height: 50px;
	}
	.acc-forgot-pass{}
	.acc-act-set figure{
		width: 48%;
		margin: 0 1% 10px;
		padding: 0;
	}
	.set-panel{
		margin-top: 15px;
	}

	.reg-form,
	#loginModal .modal-content, #passwordModal .modal-content, #passwordSucessModal .modal-content{
		padding: 40px 20px;
	}

	.acc-act-set figcaption{
		height: auto;
		width: 100%;
		font: 12px Arial;
	}
	#action{
		padding-top: 5px;
		line-height: 20px
	}

	.settings-container {
		padding: 0 15px;
	}
	.set-panel-head p {
		white-space: inherit;
	}
	.set-panel.panel-comments .set-panel-body {
		padding-bottom: 0;
	}
	.set-panel.panel-comments .btn.toggle {
		float: left;
	}
	.settings-container  {
		padding: 0 15px;
	}
	.pay-button {
		width: 43px;
		height: 30px;
		line-height: 24px;
	}
	#currencies {
		margin-top: 10px;
	}
	.optionsButton{
		margin-top:19px;
	}
	.wide-button{
		width:98% !important;
	}
	.price-text{
		margin-left:5px;
	}

	.balloon {
		min-width: 240px;
	}

	.panel.panel-sub {
		margin-bottom: 10px;
	}

	.panel-body.extended .panel-geo .panel-body {
		height: inherit;
	}
	.field-option-use-geotags {
		margin: -5px 0 5px;
	}
	.geo-map-block {
		padding-right: 15px;
		margin-bottom: 15px;
	}
	.geo-list-tags-right {
		padding-left: 15px;
	}
}

@media (min-width: 768px) {
	.md-pull-left {
		float: left;
	}

	.md-pull-right {
		float: right;
	}
}

@media (max-width: 992px) {
	.acc-pane-inside {
		margin-bottom: 20px;
	}

	.panel.panel-sub > .panel-header > .row > div {
		font-size: 14px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	/* Header */
	.header .logo {
		margin: 0 auto;
		font-size: 25px;
	}

	.header .nav-top a {
		padding-right: 15px;
		font-size: 11px;
	}

	.header .btn-group > .btn:first-child {
		margin-left: -37px;
	}
	.auth-reg-panel{
		margin-left: -55px;
	}

	/* Subheader */
	.days-last p:first-of-type,
	.hours-last p:first-of-type,
	.minutes-last p:first-of-type {
		margin: 0 5px 10px 0;
		width: 21px;
		height: 25px;
		/*background: white;*/
		text-align: center;
	}

	.days-last p:last-of-type,
	.hours-last p:last-of-type,
	.minutes-last p:last-of-type {
		font-size: 9px;
	}

	.buy-packets .price {
		font-size: 14px;
	}

	.buy-packets .price strong {
		font-size: 18px;
	}

	.table-cont thead figcaption {
		font-size: 13px;

		margin: 0 3px;
	}

}

@media (min-width: 992px) and (max-width: 1200px) {
	.header .nav-top a {
		padding-right: 0;
		padding-left: 15px;
	}
}

@media (min-width: 1200px) {
	#options-form .switch-set .set-panel-body > div {
		margin-bottom: 0;
	}
}

@media (max-width: 414px){
	.acc-act-set figcaption span.desk {
		display: none;
	}
	.acc-act-set figcaption span.mob {
		display: block;
	}
}

@media (max-width: 900px){
	.landing .land-main-block .items .item{
		background: url('../img/landing/romb2_tel.png');
		color: #000
	}
	.landing .land-main-block .items .item p{
		color: #000
	}
}

@media (max-width: 640px) {
	.modal-content {
		width: inherit !important;
		padding: 5px 5px 40px!important;
	}
	#addAccount .modal-content input,
	#addAccount .modal-content button[type=submit] {
		display: block;
		margin: 0 auto;
		max-width: 400px;
		width: 100%;
	}

}

@media (max-width: 420px) {
	#addAccount p.text-center {
		font-size: 15px !important;
	}
}

@media (max-width: 320px){
	.acc-forgot-pass {
		width: 50px;
		float: none;
		text-align: center;
		display: inline-block;
	}
	.acc-img-set figcaption {
		width: 215px;
		min-height: 80px;
	}
	.acc-img-set .btn {
		font-size: 9px;
	}
	.table-price th {
		font-size: 12px;
	}
	.table-price td {
		font-size: 14px;
	}
	.table-price td>img {
		width: 11%;
	}
	.page h1 {
		font-size: 28px;
		margin-top: 10px;
	}
	.price-subtitle {
		font-size: 18px;
	}
	.page.instruction img {
		display: none;
	}
	.form-group.field-options-mutual, .form-group.field-options-autounfollow {
		padding-left: 10px;
	}
	.set-panel-head p {
		white-space: normal;
		font-size: 13px;
	}
	.radio label, .checkbox label {
		font-size: 16px;
	}
	.set-panel .col-xs-8 {
		padding: 0 10px;
	}
	.modal-content {
		width: inherit !important;
		padding: 5px 5px 20px!important;
	}
	.modal-content.text-warning {
		overflow: auto;
	}
	#addAccount h2.text-center {
		font-size: 20px !important;
	}
	#addAccount p.text-center {
		margin: 5px auto 15px auto !important;
		font-size: 12px !important;
	}
	input#account-login, input#account-password {
		width: 100%;
	}
	h2.change-password-title.text-center {
		font-size: 20px !important;
	}
	#changeAccountForm input {
		margin: 5px 0 30px;
	}
	#changeAccount .modal-content {
		overflow: visible;
		margin-top: 40px;
	}
	.set-panel-body.acc-tog-set p {
		font-size: 14px;
	}
	.simple-tree-view ul {
		padding-left: 20px !important;
		font-size: 12px;
	}
	.simple-tree-view li {
		padding: 4px 0 !important;
	}
	.simple-tree-view .gag {
		margin-right: 17px !important;
	}
	.simple-tree-view label {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 200px;
	}
	.separate {
		border-bottom: 2px dotted #C43F3D;
		margin: 70px 5px 50px;
	}
}

/* NOTICE: All new styles please write before the media queries styles */
/* Or move media queries styles into a the new file end include it after main css file */

@media (max-width: 450px){
	.landing .preim .item {
		background: url('../img/landing/romb.png') no-repeat top center;
		width: 80px;
		min-height: 107px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		margin: 0px 5px 17px 5px;
		font-family: "HelveticaNeueCyr-Light";
		color: #000;
		font-size: 18px;
		text-decoration: none;
		background-size: contain;
	}
	.landing .preim .item i {
		color: #fff;
		font-size: 37px;
		line-height: 77px;
	}
	.landing .preim .item p {
		padding-top: 10px;
		font-size: 14px;
	}
	.landing .preim .desc p{
		font-size:15px;
		text-align:center;
		line-height: 30px;
	}
}

.loading {
	background: url(/images/main-square.gif) no-repeat right 5px center #fff !important;
	background-size: 30px 30px !important;
}
.btn-success.loading {
	background: url(/images/main-square.gif) no-repeat right 5px center #5cb85c !important;
	background-size: 30px 30px !important;
}

.btn-danger.loading {
	background: url(/images/main-square.gif) no-repeat right 5px center #ff6666 !important;
	background-size: 30px 30px !important;
}

.select-item-dropdown:hover {
	background-color: rgb(82, 148, 206);
	color: #fff;
	cursor: pointer;
}

.blured {
	-moz-user-select: none;
	-webkit-user-select: none;
}