@import "fonts/fonts.css" screen;

/*---------------------------------
1 - CSS Reset
2 - Global Styles
3 - Main info

---------------------------------*/

/********************************************************

    1 - CSS RESET (Eric Meyer's)

**********************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
.table-cont, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body, html {
	width: 100%;
	height: 100%;
	min-width: 100%;
}

body {
	line-height: 1;
	overflow-x: hidden;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

.table-cont {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input, textarea, a, img {
	outline: none;
}

button {
	cursor: pointer;
}

mark{
	background: none;
}

p,strong,span,div,small,figure,button{
	font-family: HelveticaNeueCyr-Light;
}


/********************************************************

    2 -  GLOBAL STYLES

**********************************************************/

.pad-3{
	padding: 0 3px;
}

.pad-10.first{
	padding: 0 3px 0 0;
}

.pad-10.last{
	padding: 0 0 0 3px;
}

/********************************************************

    3 -  MAIN INFO

**********************************************************/


/* Header */
.header{
	margin-bottom: 25px;
	padding-top: 35px;
	min-height: 110px;
	border-bottom: 2px solid #8f8f8f;
}

.header .logo{
	font: 38px HelveticaNeueCyr-Light;
	text-align: center;
}

.header nav{
	display: table;
	margin-top: 12px;
	text-align: justify;
}

.header .nav-top a{
	/* margin-right: 20px; */
	font: 16px HelveticaNeueCyr-Roman;
	color: #000000;
	display: table-cell;
	text-align: center;
}

.header .nav-top a:hover{
	color: #FF5656;
	text-decoration: none;
}

/* Sub header */
.sub-header{
	margin-bottom: 8px;
	min-height: 250px;
	background: #f2f2f2;
}

.sub-header button {
	padding: 18px 0;
}

/*Btn-cont*/
.sub-header .btn-cont,.sub-header .counter{
	padding-top: 78px;
	font-family: HelveticaNeueCyr-Light;
	box-sizing: border-box;
}

.add-acount{
	margin-bottom: 10px;
	font: 19px HelveticaNeueCyr-Bold;
}

.start-all, .stop-all{
	padding: 12px 0 !important;
}

/* Counter */
.counter{
	text-align: center;
}

.days-last,
.hours-last,
.minutes-last{
	float: left;
	margin-top: 30px;
}

.days-last p:first-of-type,
.hours-last p:first-of-type,
.minutes-last p:first-of-type{
	margin: 0 5px 10px 0;
	width: 34px;
	height: 30px;
	background: white;
	text-align: center;
}

.days-last p:last-of-type,
.hours-last p:last-of-type,
.minutes-last p:last-of-type{
	font-size: 12px;
	text-align: center;
}

/* Counter End*/

/* Buy packets */
.buy-packets{
	padding-top: 25px;
	text-align: center;
	box-sizing: border-box;
}

.buy-pack-title{
	margin-bottom: 14px;
	font: 17px HelveticaNeueCyr-Light;
}

.days {
	margin-bottom: 8px;
	font-size: 14px;
	color: #c4c4c4;
}

.days strong{
	display: block;
	font-weight: bold;
	font-size: 22px;
	color: #00BF51;
}

.price{
	margin-bottom: 10px;
	font-size: 18px;
}

.price strong{
	margin-right: 5px;
	font-size: 24px;
	font-weight: bold;
}

.buy-packets button{
	width: 100%;
	font: 18px HelveticaNeueCyr-Bold;
	border-bottom: 3px solid rgba(0,0,0,0.4);
}

/* Table-container */
.table-cont td,
.table-cont th {
	border-bottom: 3px solid white;
	text-align: center;
}

.table-cont td:nth-of-type(4n),
.table-cont tr:first-of-type th,
.table-cont tr:last-of-type td:nth-of-type(4n){
	border-right: 3px solid white;
}

.table-cont thead tr:first-of-type th{
	height: 60px;
	font: 17px HelveticaNeueCyr-Light;
	color: white;
	background: #ff5151;
}

.table-cont thead tr:first-of-type th:first-of-type {
	border-radius: 5px 0 0 5px;
}

.table-cont thead tr:first-of-type th:last-of-type{
	border-radius: 0 5px 5px 0;
}

.table-cont tbody tr{
	font: 19px HelveticaNeueCyr-Roman;
	color: white;
}

.table-cont tbody tr:first-of-type th:first-of-type{
	border-radius: 10px 0 0 10px;
}




.table-cont th{
	vertical-align: middle;
	text-align: center;
}

.new-subscribers{
	display: block;
	color: #FF5151;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.new-subscribers .fa{
	font-size: 26px;
	margin-left: 5px;
	line-height: 40px;
}

.plus50+.fa{
	margin-left: 5px;
	color: #FF5151;
}

.table-cont thead figcaption{
	font: 13px HelveticaNeueCyr-Light;
	letter-spacing: 1px;
	color: #5f5f5f;
}

.table-cont tbody .avatar{
	margin-top: -20px;
	font: 14px HelveticaNeueCyr-Light;
	color: #000000;
}

.table-cont thead tr:last-of-type{
	font: 14px HelveticaNeueCyr-Medium;
	color: #a7a7a5;
}

.table-cont thead tr:last-of-type th{
	padding: 10px 0 15px;
	position: relative;
}

.table-cont thead tr:last-of-type th:after{
	content: '';
	width: 100%;
	border-bottom: 3px solid #ff5151;
	position: absolute;
	bottom: 3px;
	left: 0;
}

.table-cont thead .fa{
	font-size: 25px;
}

.table-cont thead .fa-question-circle{
	font-size: 15px;
}

.table-cont thead .helper{
	margin-left: 3px;
	font-size: 16px;
	color: #A7A7A5;
	position: relative;
	top: -10px;
}


.table-cont tbody tr:first-of-type {
	background: #71d39b;
}

.table-cont tbody tr:last-of-type {
	background: #E49C9C;
}

.table-cont tbody td {
	padding: 55px 5px 25px;
	vertical-align: top;
}

/* Select Stylization */
.header .btn-default{
	border: none;
	background: none;
	position: relative;
}

.table-cont .btn-group{
	border-radius: 10px;
	background: white;
}

.table-cont .btn-group button{
	color: #696969;
	border-radius: 10px;
	background: white;
}

/* Reset text shadow/box-shadow Bootstrap btn */
.btn-default{
	color: #696969;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header .btn-default{
	font: 16px HelveticaNeueCyr-Light;
	color: #b2b2b2;
}

td.alignment-row {}

/* Media requires */
@media (max-width: 768px) {
	/* Header */
	.header nav {
		margin-bottom: 15px;
	}

	.header .nav-top a {
		margin: 0 5px 0 0;
		font-size: 11px;
	}

	/* Sub header */
	.user-name{
		text-align: center;
	}

	.add-acount{
		margin-bottom: 20px;
	}

	.start-all{
		margin-bottom: 10px;
	}

	.minutes-last {
		float: right;
		margin-right: 35%;
	}

	.hours-last {
		float: right;
	}

	.buy-packets button {
		margin-bottom: 10px;
	}

	.table-cont thead figcaption {
		font-size: 10px;

		margin: 0 6px;
	}

}

@media (min-width: 768px) and (max-width: 992px) {
	/* Header */
	.header .logo {
		margin: 0 auto;
		font-size: 25px;
	}

	.header .nav-top a {
		margin-right: 4px;
		font-size: 13px;
	}

	.header .btn-group > .btn:first-child {
		margin-left: -37px;
	}

	/* Subheader */
	.days-last p:first-of-type,
	.hours-last p:first-of-type,
	.minutes-last p:first-of-type {
		margin: 0 5px 10px 0;
		width: 21px;
		height: 25px;
		background: white;
		text-align: center;
	}

	.days-last p:last-of-type,
	.hours-last p:last-of-type,
	.minutes-last p:last-of-type {
		font-size: 9px;
	}

	.buy-packets .price{
		font-size: 14px;
	}

	.buy-packets .price strong {
		font-size: 18px;
	}

	.table-cont thead figcaption {
		font-size: 13px;

		margin: 0 3px;
	}

}

.blured {
	-moz-user-select: none;
	-webkit-user-select: none;
}


.blured img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	opacity: .2;
}